
{% extends 'nav.html.twig' %}

{% block title %}Modifier {{ corps.intitule }}{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('corps_crud_index') }}">Liste des corps</a></li>
            <li class="breadcrumb-item"><a href="{{ path('corps_crud_show', {'id': corps.id}) }}">{{ corps.intitule }}</a></li>
            <li class="breadcrumb-item active">Modifier</li>
        </ol>
    </nav>


    <div class="d-flex justify-content-start">
        {{ include('corps_crud/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
