{% extends 'nav-spa.html.twig' %}

{% block title %}Nouvelle SPA {{ unite.intitule }}{% endblock %}



{% block javascripts %}
    <script  src="{{ asset('/assets/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}


{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('spa_create') }}">Liste des unites</a>
            </li>
            <li class="breadcrumb-item active">SPA {{ unite.intitule }}</li>
        </ol>
    </nav>

    <div class="col col-12">
        <h4 class="h4-responsive">SPA du {{ date|date('d-m-Y') }}</h4>
        <hr>
    </div>

    <form id="dataForm"  method="post" role="form">

        <div class="row">
            <div class="col col-12">
                <table id="spaMilitaires" class="table text-center table-bordered table-striped table-hover">

                </table>

            </div>
        </div>

        <div class="mt-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Ajouter un commentaire</li>
                </ol>
            </nav>
        </div>

        <div class="row mb-5">

            <div class="col col-12">
                <textarea id="editor"></textarea>
            </div>

        </div>

        <button id="submit" type="button" class="btn btn-primary">Envoyer</button>


    </form>



{% endblock %}

 {% block js %}
     <script  src="{{ asset('/assets/js/bootstrap/AppendGrid.js') }}"></script>
     <script  src="{{ asset('/assets/js/axios/axios.min.js') }}"></script>
 {% endblock %}

{% block botton_javascripts %}


    <script>

        var editor;


        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .then( newEditor => {
                editor = newEditor;
            } )
            .catch( error => {
                console.error( error );
            } );

        $(document).ready(function () {

            // editor



            // append Grid
            var myAppendGrid = new AppendGrid({
                element: "spaMilitaires",
                iconFramework: "fontawesome5",
                uiFramework: "bootstrap4",
                hideRowNumColumn: true,
                hideButtons: {
                    // Hide the move up and move down button on each row
                    moveUp: true,
                    moveDown: true,
                    insert: true,
                    remove: true,
                    append: true,
                    removeLast: true,
                },
                columns: [
                    {
                        name: "id",
                        display: "id",
                        type: "hidden"
                    },
                    {
                        name: "numero",
                        display: "#",
                        type: "readonly",
                        ctrlClass: "text-center"
                    },
                    {
                        name: "matricule",
                        display: "Numero Matricule",
                        type: "readonly",
                        ctrlClass: "text-center"
                    },
                    {
                        name: "grade",
                        display: "Grade",
                        type: "readonly",
                        ctrlClass: "text-center"
                    },
                    {
                        name: "name",
                        display: "Nom et Prenoms",
                        type: "readonly",
                        ctrlClass: "text-center"
                    },
                    {
                        name: "statut",
                        display: "Statut",
                        type: "select",
                        ctrlClass: "text-center",
                        ctrlOptions:
                            {
                                3: "En service",
                                0: "Retraite",
                                1: "Radie",
                                2: "Permission longue-duree",
                                4: "Disponibilite",
                                5: "Detachement",
                                6: "Deserteur",
                                7: "Absence",
                                8: "Arret maladie"
                            }
                    },
                    {
                        name: "commentaire",
                        display: "Commentaire",
                        type: "textarea",
                    },
                ],
                initData: [
                    {% for key,militaire in militaires %}
                        {
                            id: {{ militaire.id }},
                            numero: {{ key+1 }},
                            matricule: {{ militaire.matricule }},
                            grade: "{{ militaire.grade.intitule }}",
                            name: "{{ militaire.nom }}" +"  " +"{{ militaire.prenoms }}",
                            statut: {{ GetMilitaireStatut.getStatut(militaire).statut }},
                        },

                    {% endfor %}

                ]
            });

            // datatable

            $('#spaMilitaires').DataTable({
                searching: false,
                "language": {
                    "sProcessing":     "Traitement en cours...",
                    "sSearch":         "Rechercher&nbsp;:",
                    "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix":    "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst":      "Premier",
                        "sPrevious":   "Pr&eacute;c&eacute;dent",
                        "sNext":       "Suivant",
                        "sLast":       "Dernier"
                    },
                    "oAria": {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }
            });


            $("#submit").on("click",function () {

                var $data = myAppendGrid.getAllValue()


                axios.post('/spa/unite/parse-spa/'+{{ unite.id }}, {
                    data: $data,
                    date: {{ date|date('d-m-Y') }},
                    commentaire: editor.getData()
                })
                    .then(function (response) {
                        toastr.success('Succès');
                        window.location.href = " {{ path('spa_create') }}"
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            })


        })

    </script>
{% endblock %}