{% extends 'nav-spa.html.twig' %}

{% block title %}{{ spa.unite.intitule }} / SPA du {{ spa.createdAt|date('d-m-Y') }}{% endblock %}


{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('/assets/css/datatables/buttons.dataTables.css') }}" />
    <link rel="stylesheet" href="{{ asset('/assets/css/datatables/buttons.bootstrap5.css') }}" />
    <link rel="stylesheet" href="{{ asset('/assets/css/datatables/searchPanes.bootstrap5.css') }}" />
    <link rel="stylesheet" href="{{ asset('/assets/css/datatables/select.dataTables.css') }}" />

{% endblock %}

 {% block javascripts %}
 {% endblock %}



{% block content %}



    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">{{ spa.unite.intitule }} / SPA du {{ spa.createdAt|date('d-m-Y') }}</li>
        </ol>
    </nav>

    {% for message in app.session.flashbag.get('spa_create') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <div class="card mt-5 mb-5">
        <div class="card-body">
            <blockquote>
                {{ spa.commentaire|raw }}
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col col-12">
            <table id="spaTable" class="table text-center table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Nom et Prenoms</th>
                        <th>Statut</th>
                        <th>Observation</th>
                    </tr>
                </thead>

                <tbody>

                    {% for militaireSpa in spa.militaireSpas %}
                        <tr>
                            <td>{{ militaireSpa.militaire.matricule}}</td>
                            <td class="text-uppercase">{{ militaireSpa.militaire.nom}}&nbsp;{{ militaireSpa.militaire.prenoms}}</td>
                            <td class="{{ MilitaireStatutGetter.getString(militaireSpa.statut) }} font-weight-bold">{{ GetMilitaireStatut.getString(militaireSpa.statut) }}</td>
                            <td>{{ militaireSpa.commentaire | raw }}</td>
                        </tr>


                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>




{% endblock %}

{% block js %}

    <script  src="{{ asset('/assets/js/datatables/dataTables.searchPanes.js') }}"></script>
    <script  src="{{ asset('/assets/js/datatables/select.dataTables.js') }}"></script>
    <script  src="{{ asset('/assets/js/highcharts/highcharts.js') }}"></script>
{% endblock %}

{% block botton_javascripts %}


    <script>
        $(document).ready(function() {
            $('#spaTable').DataTable( {
                dom: 'lBfrtip',
                buttons: [
                    'excel', {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    }
                ],

                "language": {
                    "sProcessing":     "Traitement en cours...",
                    "sSearch":         "Rechercher&nbsp;:",
                    "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix":    "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst":      "Premier",
                        "sPrevious":   "Pr&eacute;c&eacute;dent",
                        "sNext":       "Suivant",
                        "sLast":       "Dernier"
                    },
                    "oAria": {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }
            } );
        } );
    </script>

{% endblock %}