{% extends 'nav.html.twig' %}

{% block title %}Tous les elements{% endblock %}

{% block javascripts %}


    <script  src="{{ asset('/assets/js/datatables/dataTables.buttons.js') }}"></script>
    <script  src="{{ asset('/assets/js/datatables/buttons.print.js') }}"></script>
    <script  src="{{ asset('/assets/js/datatables/buttons.bootstrap5.min.js') }}"></script>

{% endblock %}

 {% block stylesheets %}

     <link rel="stylesheet" href="{{ asset('/assets/css/datatables/buttons.dataTables.css') }}" />
     <link rel="stylesheet" href="{{ asset('/assets/css/datatables/buttons.bootstrap5.css') }}" />

     <style>
         .dt-buttons{
             margin-bottom: 1em!important;
             margin-left: 0.5em!important;
         }
         #tab-content{
             display: none;
         }
         #loader{
             display: block;
         }
         #loading {
             background: url('{{ asset('/assets/img/loader.gif') }}') no-repeat center center;
             position: absolute;
             top: 0;
             left: 0;
             height: 100%;
             width: 100%;
             z-index: 9999999;
         }
     </style>
 {% endblock %}


{% block content %}


    <div id='loader'>
        <div id="loading"></div>
    </div>



    <div class="container-fluid mt-5">
        <ul class="nav nav-tabs md-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Tous les elements</button>
            </li>

        </ul>
        <div class="tab-content card pt-5" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div id="tab-content" class="row mt-4" style="margin-left: 2em; margin-right: 2em">

                    <table id="elements_list" class="table table-responsive table-bordered table-striped table-hover text-center">
                        <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Matricule</th>
                            <th>Nom</th>
                            <th>Prenoms</th>
                            <th>Grade</th>
                            <th>Echelon</th>
                            <th>Indice</th>
                            <th>Date d'incorporation</th>
                            <th>Annees de service</th>
                            <th>Date de naissance</th>
                            <th>Sexe</th>
                            <th>Groupe sanguin</th>
                            <th>Numeros de telephones</th>
                            <th>Adresse</th>
                            <th>Fonction</th>
                            <th>Unite d'affectation</th>
                            <th>Statut</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if militaires | length == 0 %}
                            <p class="text-center">Aucun element n'a été ajouté pour l'instant</p>
                        {% else %}
                            {% for militaire in militaires%}
                                <tr>
                                    <td>
                                        {% if militaire.militaire.mainPicture == null %}
                                            <img height="50" width="50" src="{{ path('download_element', {'name': "default.png" , 'id': Encoder.encode(militaire.militaire.matricule)}) }}" class="img-thumbnail" alt="...">
                                        {% else %}
                                            <img height="50" width="50" src="{{ path('download_element', {'name': militaire.militaire.mainPicture , 'id': Encoder.encode(militaire.militaire.matricule)}) }}" class="img-thumbnail" alt="...">
                                        {% endif %}
                                    </td>
                                    <td>{{ militaire.militaire.matricule }}</td>
                                    <td>{{ militaire.militaire.nom }}</td>
                                    <td>{{ militaire.militaire.prenoms }}</td>
                                    <td>{{ militaire.militaire.grade.intitule }}</td>
                                    {% set indice = IndiceCalculator.calculateIndice(militaire.militaire.id) %}
                                    <td>
                                        {% if indice is not null %}
                                            {{ indice.echelon }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if indice is not null %}
                                            {{ indice.indice }}
                                        {% endif %}
                                    </td>
                                    <td data-sort="{{ militaire.d_incor }}">{{ militaire.militaire.dateIncorp|date("d-m-Y")  }}</td>
                                    <td>
                                        {% set incorp = date().diff(date(militaire.militaire.dateIncorp)).y %}
                                        {{ incorp }}
                                    </td>
                                    <td data-sort="{{ militaire.d_naiss }}">{{ militaire.militaire.dateNaissance|date("d-m-Y")  }}</td>
                                    <td>
                                        {% if militaire.militaire.sexe == 'f' %}
                                            Femme
                                        {% else %}
                                            Homme
                                        {% endif %}
                                    </td>
                                    <td>{{ militaire.militaire.groupeSanguin }}</td>
                                    <td>
                                        {% for telephone in militaire.militaire.telephone %}
                                            {{ telephone.numero }} <br>
                                        {% endfor %}
                                    </td>
                                    <td>{{ militaire.militaire.adresse }}</td>
                                    {% set affectation = AffectationGetter.getLastAffectation(militaire.militaire) %}
                                    <td>
                                        {% if affectation is not null %}
                                            {{ affectation.fonction }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if affectation is not null %}
                                            {{ affectation.unite.intitule }} / {{ affectation.unite.corps.intitule }}
                                        {% endif %}

                                    </td>
                                    <td>

                                        {% set key = militaire.militaire.militaireStatuts|length -1 %}

                                        {% if key >= 0 %}
                                            {% set lastStatut =  militaire.militaire.militaireStatuts[key] %}

                                            {% if lastStatut != null and lastStatut.statut == 1 %}
                                                <span class="text-danger fw-bold">Radie</span>
                                            {% endif %}


                                            {% if lastStatut != null and lastStatut.statut == 3 %}
                                                <span class="text-success fw-bold">En service</span>
                                            {% endif %}

                                            {% if lastStatut != null and lastStatut.statut == 0 %}
                                                <span class="text-warning fw-bold">Retraite</span>
                                            {% endif %}

                                            {% if lastStatut != null and lastStatut.statut == 2 %}
                                                <span class="text-success fw-bold">En service</span>
                                            {% endif %}

                                            {% if lastStatut != null and lastStatut.statut == 4 %}
                                                <span class="text-success fw-bold">Disponibilite</span>
                                            {% endif %}

                                            {% if lastStatut != null and lastStatut.statut == 5 %}
                                                <span class="text-primary fw-bold">Detachement</span>
                                            {% endif %}

                                            {% if lastStatut != null and lastStatut.statut == 6 %}
                                                <span class="text-danger fw-bold">Deserteur</span>
                                            {% endif %}

                                            {% if lastStatut != null and lastStatut.statut == 7 %}
                                                <span class="text-warning fw-bold">Absence</span>
                                            {% endif %}

                                            {% if lastStatut != null and lastStatut.statut == 8 %}
                                                <span class="text-warning fw-bold">Arret maladie</span>
                                            {% endif %}
                                        {% endif %}

                                    </td>

                                    <td>
                                        <a target="_blank" rel="noopener noreferrer" href="{{ path('militaire_details', { 'id': militaire.militaire.id }) }}" type="button" class="btn btn-primary">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>

                                </tr>
                            {% endfor %}

                        {% endif %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('#elements_list').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    }
                ],
                "order": [[ 1, "asc" ]],
                "language": {
                    "sProcessing":     "Traitement en cours...",
                    "sSearch":         "Rechercher&nbsp;:",
                    "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix":    "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst":      "Premier",
                        "sPrevious":   "Pr&eacute;c&eacute;dent",
                        "sNext":       "Suivant",
                        "sLast":       "Dernier"
                    },
                    "oAria": {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }
            });
            $('#loader').hide();
            $('#tab-content').css("display", "block");

        } );
    </script>
{% endblock %}
