{% extends 'nav.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block javascripts %}
    <script  src="{{ asset('/assets/js/datepicker/moment.min.js') }}"></script>
    <script  src="{{ asset('/assets/js/datepicker/daterangepicker.js') }}"></script>
    <script  src="{{ asset('/assets/js/custom/picker.js') }}"></script>
    <script  src="{{ asset('/assets/js/custom/formation.js') }}"></script>

    <script>
        $(function() {
            $('button[data-toggle="modal"]').on('click', function (e) {
                // save the latest tab; use cookies if you like 'em better:
                localStorage.setItem('lastModal', $(this).attr('data-target'));
                console.log('ok')
            });
            let lastModal = localStorage.getItem('lastModal');

            {% if error == true  %}
                if (lastModal) {
                    $(lastModal).modal('show');
                }
            {% endif %}
        });
    </script>
{% endblock %}

{% block stylesheets %}


    <link rel="stylesheet" href="{{ asset('/assets/css/datepicker/daterangepicker.css') }}" />


{% endblock %}


{% block content %}

    <!-- Formulaire Affectation -->

    <div class="modal fade" id="affectationModal" tabindex="-1" aria-labelledby="affectationModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    {{ form_start(affectationForm) }}

                    <span class="text-danger mt-3">
                        {{ form_errors(affectationForm) }}
                    </span>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Affecter</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            {{ form_label(affectationForm.dateDebut, "Date d'affectation : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(affectationForm.dateDebut, {'attr': {'class': 'form-control js-datepicker'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(affectationForm.dateDebut) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ form_label(affectationForm.dateFin, "Date de fin d'affectation: ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(affectationForm.dateFin, {'attr': {'class': 'form-control js-datepicker'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(affectationForm.dateFin) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ form_label(affectationForm.fonction, "Poste : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(affectationForm.fonction, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(affectationForm.fonction) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ form_label(affectationForm.unite, "Unite : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(affectationForm.unite, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-ins','searchable':'Rechercher'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(affectationForm.unite) }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        {{ form_row(affectationForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                        {{ form_row(affectationForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                    </div>
                    {{ form_end(affectationForm) }}
                </div>
        </div>
    </div>


    <!-- Formulaire Mission -->

    <div class="modal fade" id="missionModal" tabindex="-1" aria-labelledby="missionModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                {{ form_start(militaireMissionForm) }}

                <span class="text-danger mt-3">
                    {{ form_errors(militaireMissionForm) }}
                </span>

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une mission effectuee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        {{ form_label(militaireMissionForm.dateDebut, "Date de debut de mission : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireMissionForm.dateDebut, {'attr': {'class': 'form-control js-datepicker'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireMissionForm.dateDebut) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form_label(militaireMissionForm.dateFin, "Date de fin de mission : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireMissionForm.dateFin, {'attr': {'class': 'form-control js-datepicker'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireMissionForm.dateFin) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form_label(militaireMissionForm.commentaire, "Commentaire : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireMissionForm.commentaire, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireMissionForm.commentaire) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form_label(militaireMissionForm.mission, "Mission : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireMissionForm.mission, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-ins','searchable':'Rechercher'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireMissionForm.mission) }}
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    {{ form_row(militaireMissionForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                    {{ form_row(militaireMissionForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                </div>
                {{ form_end(militaireMissionForm) }}
            </div>
        </div>
    </div>


    <!-- Formulaire Exercices -->

    <div class="modal fade" id="exerciceModal" tabindex="-1" aria-labelledby="exerciceModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                {{ form_start(militaireExerciceForm) }}

                <span class="text-danger mt-3">
                  {{ form_errors(militaireExerciceForm) }}
                </span>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un exercice effectue</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        {{ form_label(militaireExerciceForm.exercice, "Exercice : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireExerciceForm.exercice, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-ins','searchable':'Rechercher'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireExerciceForm.exercice) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(militaireExerciceForm.date, '', {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireExerciceForm.date, {'attr': {'class': 'form-control js-datepicker'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireExerciceForm.date) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(militaireExerciceForm.commentaire, '', {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireExerciceForm.commentaire, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireExerciceForm.commentaire) }}
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    {{ form_row(militaireExerciceForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                    {{ form_row(militaireExerciceForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                </div>
                {{ form_end(militaireExerciceForm) }}
            </div>
        </div>
    </div>

    <!-- Formulaire Medaille -->

    <div class="modal fade" id="medailleModal" tabindex="-1" aria-labelledby="medailleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                {{ form_start(militaireMedailleForm) }}

                <span class="text-danger mt-3">
                  {{ form_errors(militaireMedailleForm) }}
                </span>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une medaille ou une distinction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        {{ form_label(militaireMedailleForm.medaille, "Medaille ou distinctions : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireMedailleForm.medaille, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-ins','searchable':'Rechercher'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireMedailleForm.medaille) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(militaireMedailleForm.date, "Date d'obtention", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireMedailleForm.date, {'attr': {'class': 'form-control js-datepicker'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireMedailleForm.date) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(militaireMedailleForm.commentaire, '', {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireMedailleForm.commentaire, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireMedailleForm.commentaire) }}
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    {{ form_row(militaireMedailleForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                    {{ form_row(militaireMedailleForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                </div>
                {{ form_end(militaireMedailleForm) }}
            </div>
        </div>
    </div>

    <!-- Formulaire Formation -->
    <div class="modal fade" id="formationModal" tabindex="-1" aria-labelledby="formationModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">

        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                {{ form_start(militaireFormationForm) }}

                <span class="text-danger mt-3">
                  {{ form_errors(militaireFormationForm) }}
                </span>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une formation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        {{ form_label(militaireFormationForm.statut, 'Type de la formation : ', {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireFormationForm.statut, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireFormationForm.statut) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(militaireFormationForm.formation, "Formation : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireFormationForm.formation, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-ins','searchable':'Rechercher'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireFormationForm.formation) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(militaireFormationForm.dateDebut, "Date de debut : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireFormationForm.dateDebut, {'attr': {'class': 'form-control js-datepicker-formation'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireFormationForm.dateDebut) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(militaireFormationForm.dateFin, "Date de fin : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireFormationForm.dateFin, {'attr': {'class': 'form-control js-datepicker-formation'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireFormationForm.dateFin) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(militaireFormationForm.lieu, 'Lieu de la formation : ', {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireFormationForm.lieu, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireFormationForm.lieu) }}
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    {{ form_row(militaireFormationForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                    {{ form_row(militaireFormationForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                </div>
                {{ form_end(militaireFormationForm) }}
            </div>
        </div>
    </div>

    <!-- Formulaire famille -->
    <div class="modal fade" id="familleModal" tabindex="-1" aria-labelledby="familleModalLabel" aria-hidden="'true'" data-backdrop="static" data-keyboard="false">

        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                {{ form_start(familleForm) }}

                <span class="text-danger mt-3">
                  {{ form_errors(familleForm) }}
                </span>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un membre de famille</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        {{ form_label(familleForm.nom, 'Nom : ', {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(familleForm.nom, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(familleForm.nom) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(familleForm.prenom, "Prenoms : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(familleForm.prenom, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(familleForm.prenom) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(familleForm.typeFiliation, "Type de filiation : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(familleForm.typeFiliation, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-ins','searchable':'Rechercher'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(familleForm.typeFiliation) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(familleForm.commentaire, "Commentaires : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(familleForm.commentaire, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(familleForm.commentaire) }}
                        </div>
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    {{ form_row(familleForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                    {{ form_row(familleForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                </div>
                {{ form_end(familleForm) }}
            </div>
        </div>
    </div>

    <!-- Formulaire Statut -->

    <div class="modal fade" id="statutModal" tabindex="-1" aria-labelledby="statutModalLabel" aria-hidden="'true'" data-backdrop="static" data-keyboard="false">

        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                {{ form_start(militaireStautForm) }}

                <span class="text-danger mt-3">
                  {{ form_errors(militaireStautForm) }}
                </span>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Changer de statut</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        {{ form_label(militaireStautForm.statut, 'Nouveau statut : ', {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireStautForm.statut, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-ins','searchable':'Rechercher'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireStautForm.statut) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(militaireStautForm.dateDebut, "Date de debut (laisser vide sinon) : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireStautForm.dateDebut, {'attr': {'class': 'form-control js-datepicker-formation'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireStautForm.dateDebut) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(militaireStautForm.dateFin, "Date de fin (laisser vide sinon) : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireStautForm.dateFin, {'attr': {'class': 'form-control js-datepicker-formation'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireStautForm.dateFin) }}
                        </div>
                    </div>



                    <div class="mb-3">
                        {{ form_label(militaireStautForm.commentaire, "Commentaires : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireStautForm.commentaire, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireStautForm.commentaire) }}
                        </div>
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    {{ form_row(militaireStautForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                    {{ form_row(militaireStautForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                </div>
                {{ form_end(militaireStautForm) }}
            </div>
        </div>
    </div>





    <div style="margin-top: 1em">
        {% for message in app.session.flashbag.get('create_militaire') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}!</strong>
                <button type="button" class="close"  data-dismiss="alert"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col col-12">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col col-2">
                                <img style="height: 14em;width: 14em" src="{{ asset('/elements/') }}{{ militaire.fichiers[0].nom }}" class="img-thumbnail" alt="...">
                            </div>
                            <div class="col col-10">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col col-2" style="word-wrap: break-word;">
                                            <p>
                                                <span class="fw-bold">Matricule: </span>
                                                <span>{{ militaire.matricule }}</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Grade: </span>
                                                <span>{{ militaire.grade.intitule }}</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Nom: </span>
                                                <span>{{ militaire.nom }}</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Prenoms: </span>
                                                <span>{{ militaire.prenoms }}</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Date de naissance: </span>
                                                <span>{{ militaire.dateNaissance|date("d-M-Y")  }}</span>
                                            </p>

                                        </div>

                                        <div class="col col-2" style="word-wrap: break-word;">
                                            <p>
                                                <span class="fw-bold">Age: </span>
                                                {% set age = date().diff(date(militaire.dateNaissance)).y %}
                                                <span>{{ age }} ans</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Sexe: </span>
                                                <span>
                                                    {% if militaire.sexe == 'f' %}
                                                        Femme
                                                    {% else %}
                                                        Homme
                                                    {% endif %}
                                                 </span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Taille: </span>
                                                <span>{{ militaire.taille }} m</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Couleur des yeux: </span>
                                                <span>{{ militaire.couleurYeux }}</span>
                                            </p>

                                            <p>
                                                <span class="fw-bold">Situation matrimoniale: </span>
                                                <span>{{ militaire.situationMatri }}</span>
                                            </p>

                                        </div>

                                        <div class="col col-3" style="word-wrap: break-word;">
                                            <p>
                                                <span class="fw-bold">Adresse: </span>
                                                <span>{{ militaire.adresse }}</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Numeros de telephones: </span>
                                                <span>
                                                    {% for telephone in militaire.telephone %}
                                                        {{ telephone.numero }}
                                                    {% endfor %}
                                                </span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Origine de recrutement : </span>
                                                <span>  {{ militaire.origineRecrutement.intitule }} </span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Grade actuel / Categorie : </span>
                                                <span>  {{ militaire.grade.intitule }} / {{ militaire.grade.gradeCategorie.intitule }}  </span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Profession anterieure : </span>
                                                <span>  {{ militaire.professionAnt }}   </span>
                                            </p>

                                        </div>

                                        <div class="col col-3" style="word-wrap: break-word;">
                                            <p>
                                                <span class="fw-bold">Date d'incorporation: </span>
                                                <span>{{ militaire.dateIncorp|date("d-M-Y")  }}</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Annees de service: </span>
                                                <span>
                                                    {% set srv = date().diff(date(militaire.dateIncorp)).y %}
                                                    {{ srv }} ans
                                                </span>
                                            </p>

                                            <p>
                                                <span class="fw-bold">Statut: </span>
                                                <span>

                                                    {% if lastStatut != null and lastStatut.statut == 1 %}
                                                        <span class="text-danger fw-bold">Radie</span>
                                                    {% endif %}


                                                    {% if lastStatut != null and lastStatut.statut == 3 %}
                                                        <span class="text-success fw-bold">En service</span>
                                                    {% endif %}

                                                    {% if lastStatut != null and lastStatut.statut == 0 %}
                                                        <span class="text-warning fw-bold">Retraite</span>
                                                    {% endif %}

                                                    {% if lastStatut != null and lastStatut.statut == 2 %}
                                                        <span class="text-success fw-bold">En service</span>
                                                    {% endif %}

                                                    {% if lastStatut != null and lastStatut.statut == 4 %}
                                                        <span class="text-success fw-bold">Disponibilite</span>
                                                    {% endif %}

                                                    {% if lastStatut != null and lastStatut.statut == 5 %}
                                                        <span class="text-primary fw-bold">Detachement</span>
                                                    {% endif %}

                                                    {% if lastStatut != null and lastStatut.statut == 6 %}
                                                        <span class="text-danger fw-bold">Deserteur</span>
                                                    {% endif %}

                                                    {% if lastStatut != null and lastStatut.statut == 7 %}
                                                        <span class="text-warning fw-bold">Absence</span>
                                                    {% endif %}

                                                    {% if lastStatut != null and lastStatut.statut == 8 %}
                                                        <span class="text-warning fw-bold">Arret maladie</span>
                                                    {% endif %}


                                                </span>
                                            </p>

                                            <p>
                                                <span>
                                                    <a href="{{ path('print_militaire', { 'id': militaire.id }) }}" type="button" class="btn btn-primary">
                                                        <i class="fa fa-download"> Telecharger le dossier</i>
                                                    </a>
                                                </span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-5"></div>
            </div>
        </div>

        <div style="margin-left: 1em" class="mt-5">
            <nav>
                <div class="nav nav-tabs md-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-prof-tab" data-toggle="tab" href="#nav-prof" type="button" role="tab" aria-controls="nav-prof" aria-selected="false">Cursus professionnel</a>
                    <a class="nav-link" id="nav-formation-tab" data-toggle="tab" href="#nav-formation" type="button" role="tab" aria-controls="nav-formation" aria-selected="false">Fiche formation</a>
                    <a class="nav-link" id="nav-filiation-tab" data-toggle="tab" href="#nav-filiation" type="button" role="tab" aria-controls="nav-filiation" aria-selected="false">Filiation</a>
                    <a class="nav-link" id="nav-statut-tab" data-toggle="tab" href="#nav-statut" type="button" role="tab" aria-controls="nav-statut" aria-selected="false">Dossier Statut</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-prof" role="tabpanel" aria-labelledby="nav-prof">
                    <div class="mt-5" style="margin-left: 1em">
                        <div class="row">

                            <div class="col col-6 mt-4"  style="word-wrap: break-word;">

                                {% for message in app.session.flashbag.get('create_affectation') %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}!</strong>
                                        <button type="button" class="close"  data-dismiss="alert"  aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}

                                <div class="card ">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">Unites d'affectation</span>
                                            <span>
                                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#affectationModal">
                                                    <i class="fa fa-plus"></i>
                                                    Changer d'affectation
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table text-center table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Date de debut</th>
                                                    <th scope="col">Date de fin</th>
                                                    <th scope="col">Unite</th>
                                                    <th scope="col">Corps</th>
                                                    <th scope="col">Poste</th>
                                                    <th scope="col">Duree</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if affectations | length == 0 %}
                                                    <p class="text-center">Aucune affectation</p>
                                                {% else %}
                                                    {% for affectation in affectations %}
                                                        <tr>
                                                            <td>{{ affectation.dateDebut|date("d-M-Y")  }}</td>
                                                            <td>{{ affectation.dateFin|date("d-M-Y")  }}</td>
                                                            <td>{{ affectation.unite.intitule }}</td>
                                                            <td>{{ affectation.unite.corps.intitule }}</td>
                                                            <td>{{ affectation.fonction }}</td>
                                                            <td>
                                                                {% if affectation.dateFin != null %}
                                                                    {% set dureeY = affectation.dateFin.diff(date(affectation.dateDebut)).y %}
                                                                    {% set dureeM = (dureeY*12)+affectation.dateFin.diff(date(affectation.dateDebut)).m %}
                                                                    {{ dureeM }} mois
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}

                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-6"></div>

                            <div class="col col-6 mt-4"  style="word-wrap: break-word;">

                                {% for message in app.session.flashbag.get('create_militaireMission') %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}!</strong>
                                        <button type="button" class="close"  data-dismiss="alert"  aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}

                                <div class="card ">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">Missions effectues</span>
                                            <span>
                                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#missionModal">
                                                    <i class="fa fa-plus"></i>
                                                    Ajouter
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table text-center table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Date de debut</th>
                                                <th scope="col">Date de fin</th>
                                                <th scope="col">Mission</th>
                                                <th scope="col">Lieu</th>
                                                <th scope="col">Commentaires</th>
                                                <th scope="col">Duree</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if militaireMissions | length == 0 %}
                                                <p class="text-center">Aucune mission</p>
                                            {% else %}
                                                {% for militaireMission in militaireMissions %}
                                                    <tr>
                                                        <td class="d-flex justify-content-center">
                                                            <img height="50" width="50" src="{{ asset('/logos/') }}{{ militaireMission.mission.logo.nom }}" class="img-thumbnail" alt="...">
                                                        </td>
                                                        <td>{{ militaireMission.dateDebut|date("d-M-Y")  }}</td>
                                                        <td>{{ militaireMission.dateFin|date("d-M-Y")  }}</td>
                                                        <td>{{ militaireMission.mission.intitule }}</td>
                                                        <td>{{ militaireMission.mission.lieu}}</td>
                                                        <td>{{ militaireMission.commentaire }}</td>
                                                        <td>
                                                            {% set dureeY = militaireMission.dateFin.diff(date(militaireMission.dateDebut)).y %}
                                                            {% set dureeM = (dureeY*12)+militaireMission.dateFin.diff(date(militaireMission.dateDebut)).m %}
                                                            {{ dureeM }} mois
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-6"></div>

                            <div class="col col-6 mt-4"  style="word-wrap: break-word;">

                                {% for message in app.session.flashbag.get('create_militaireExercice') %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}!</strong>
                                        <button type="button" class="close"  data-dismiss="alert"  aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}

                                <div class="card ">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">Exercices</span>
                                            <span>
                                                <button type="button"  class="btn btn-outline-primary" data-toggle="modal" data-target="#exerciceModal">
                                                    <i class="fa fa-plus"></i>
                                                    Ajouter
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table text-center table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Exercice</th>
                                                <th scope="col">Lieu</th>
                                                <th scope="col">Commentaires</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if militaireExercices | length == 0 %}
                                                <p class="text-center">Aucun exercice</p>
                                            {% else %}
                                                {% for militaireExercice in militaireExercices %}
                                                    <tr>
                                                        <td>{{ militaireExercice.date|date("d-M-Y")  }}</td>
                                                        <td>{{ militaireExercice.exercice.intitule  }}</td>
                                                        <td>{{ militaireExercice.exercice.lieu }}</td>
                                                        <td>{{ militaireExercice.commentaire }}</td>
                                                    </tr>
                                                {% endfor %}

                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-6"></div>

                            <div class="col col-6 mt-4"  style="word-wrap: break-word;">

                                {% for message in app.session.flashbag.get('create_militaireMedaille') %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}!</strong>
                                        <button type="button" class="close"  data-dismiss="alert"  aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}

                                <div class="card ">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">Medailles ou distinction obtenues</span>
                                            <span>
                                                <button type="button"  class="btn btn-outline-primary" data-toggle="modal" data-target="#medailleModal">
                                                    <i class="fa fa-plus"></i>
                                                    Ajouter
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table text-center table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Medaille ou distinction</th>
                                                <th scope="col">Commentaires</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if militaireMedailles | length == 0 %}
                                                <p class="text-center">Aucun exercice</p>
                                            {% else %}
                                                {% for militaireMedaille in militaireMedailles %}
                                                    <tr>
                                                        <td>{{ militaireMedaille.date|date("d-M-Y")  }}</td>
                                                        <td>{{ militaireMedaille.medaille.designation  }}</td>
                                                        <td>{{ militaireMedaille.commentaire }}</td>
                                                    </tr>
                                                {% endfor %}

                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="nav-formation" role="tabpanel" aria-labelledby="nav-formation">

                    <div class="mt-5" style="margin-left: 1em">
                        <div class="row">

                            <div class="col col-6 mt-4"  style="word-wrap: break-word;">

                                {% for message in app.session.flashbag.get('create_militaireFormation') %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}!</strong>
                                        <button type="button" class="close"  data-dismiss="alert"  aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}


                                <div class="card ">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">Formations effectuees</span>
                                            <span>
                                                <button id="formationBtn" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#formationModal">
                                                    <i class="fa fa-plus"></i>
                                                    Ajouter une formation deja faite
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table text-center table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">Date de debut</th>
                                                <th scope="col">Date de fin</th>
                                                <th scope="col">Formation</th>
                                                <th scope="col">Lieu</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if militaireFormations | length == 0 %}
                                                <p class="text-center">Aucune formation</p>
                                            {% else %}
                                                {% for militaireFormation in militaireFormations %}
                                                    {% if militaireFormation.statut == 1 %}
                                                        <tr>
                                                            <td>{{ militaireFormation.dateDebut|date("d-M-Y")  }}</td>
                                                            <td>{{ militaireFormation.dateFin|date("d-M-Y")  }}</td>
                                                            <td>{{ militaireFormation.formation.intitule }}</td>
                                                            <td>{{ militaireFormation.lieu }}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}

                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-6" style="margin-left: 1em"></div>


                            <div class="col col-6 mt-4"  style="word-wrap: break-word;">

                                {% for message in app.session.flashbag.get('create_militaireFormationPlan') %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}!</strong>
                                        <button type="button" class="close"  data-dismiss="alert"  aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}

                                <div class="card ">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">Formations  planifiees</span>
                                            <span>
                                                <button id="formationPlanBtn" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#formationModal">
                                                    <i class="fa fa-plus"></i>
                                                    Planifier une formation
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table text-center table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">Date de debut</th>
                                                <th scope="col">Date de fin</th>
                                                <th scope="col">Formation</th>
                                                <th scope="col">Lieu</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if militaireFormations | length == 0 %}
                                                <p class="text-center">Aucune formation planifiee</p>
                                            {% else %}
                                                {% for militaireFormation in militaireFormations %}
                                                    {% if militaireFormation.statut == 0 %}
                                                    <tr>
                                                        <td>{{ militaireFormation.dateDebut|date("d-M-Y")  }}</td>
                                                        <td>{{ militaireFormation.dateFin|date("d-M-Y")  }}</td>
                                                        <td>{{ militaireFormation.formation.intitule }}</td>
                                                        <td>{{ militaireFormation.lieu }}</td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="tab-pane fade" id="nav-filiation" role="tabpanel" aria-labelledby="nav-filiation">


                    <div class="mt-5" style="margin-left: 1em">
                        <div class="row">

                            <div class="col col-6 mt-4"  style="word-wrap: break-word;">

                                <p>
                                    <span class="fw-bold">Situation familiale: </span>
                                    <span>{{ militaire.situationMatri }}</span>
                                </p>

                                <p>
                                    <span class="fw-bold">Nombre d'enfants: </span>
                                    <span> {{ nbEnfants }} </span>
                                </p>
                            </div>

                            <div class="col col-6" style="margin-left: 1em"></div>


                            <div class="col col-6 mt-4"  style="word-wrap: break-word;">

                                {% for message in app.session.flashbag.get('create_membreFamille') %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}!</strong>
                                        <button type="button" class="close"  data-dismiss="alert"  aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}

                                <div class="card ">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">Membres de famille</span>
                                            <span>
                                                <button  type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#familleModal">
                                                    <i class="fa fa-plus"></i>
                                                    Ajouter un membre de la famille
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table text-center table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">Lien de filiation</th>
                                                <th scope="col">Nom</th>
                                                <th scope="col">Prenom</th>
                                                <th scope="col">Commentaire</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if militaireFamilles | length == 0 %}
                                                <p class="text-center">Aucun membre de famille</p>
                                            {% else %}
                                                {% for militaireFamille in militaireFamilles %}
                                                    <tr>
                                                        <td>
                                                            {% if militaireFamille.typeFiliation == 0 %}
                                                                Pere
                                                            {% endif %}

                                                            {% if militaireFamille.typeFiliation == 1 %}
                                                                Mere
                                                            {% endif %}

                                                            {% if militaireFamille.typeFiliation == 2 %}
                                                                Mari
                                                            {% endif %}

                                                            {% if militaireFamille.typeFiliation == 3 %}
                                                                Femme
                                                            {% endif %}

                                                            {% if militaireFamille.typeFiliation == 4 %}
                                                                Enfant
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ militaireFamille.nom  }}</td>
                                                        <td>{{ militaireFamille.prenom }}</td>
                                                        <td>{{ militaireFamille.commentaire }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="nav-statut" role="tabpanel" aria-labelledby="nav-statut">


                    <div class="mt-5" style="margin-left: 1em">
                        <div class="row">

                            <div class="col col-6"  style="word-wrap: break-word;">

                                <p>
                                    <span class="fw-bold">Statut actuel: </span>
                                    {% if lastStatut != null and lastStatut.statut == 1 %}
                                        <span class="text-danger fw-bold">Radie</span>
                                        <p class="mt-1 fw-bold">Motif:  <span class="text-danger" >{{ lastStatut.commentaire }}</span>
                                </p>
                                    {% endif %}


                                    {% if lastStatut != null and lastStatut.statut == 3 %}
                                        <span class="text-success fw-bold">En service</span>
                                    {% endif %}

                                    {% if lastStatut != null and lastStatut.statut == 0 %}
                                        <span class="text-warning fw-bold">Retraite</span>
                                    {% endif %}

                                    {% if lastStatut != null and lastStatut.statut == 2 %}
                                        <span class="text-success fw-bold">En service</span>
                                    {% endif %}

                                    {% if lastStatut != null and lastStatut.statut == 4 %}
                                        <span class="text-success fw-bold">Disponibilite</span>
                                    {% endif %}

                                    {% if lastStatut != null and lastStatut.statut == 5 %}
                                        <span class="text-primary fw-bold">Detachement</span>
                                    {% endif %}

                                    {% if lastStatut != null and lastStatut.statut == 6 %}
                                        <span class="text-danger fw-bold">Deserteur</span>
                                    {% endif %}

                                    {% if lastStatut != null and lastStatut.statut == 7 %}
                                        <span class="text-warning fw-bold">Absence</span>
                                    {% endif %}

                                    {% if lastStatut != null and lastStatut.statut == 8 %}
                                        <span class="text-warning fw-bold">Arret maladie</span>
                                    {% endif %}
                                </p>

                            </div>

                            <div class="col col-6" style="margin-left: 1em"></div>

                            <div class="col col-6" style="margin-left: 1em"></div>


                            <div class="col col-6 mt-4"  style="word-wrap: break-word;">

                                {% for message in app.session.flashbag.get('statut') %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}!</strong>
                                        <button type="button" class="close"  data-dismiss="alert"  aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}

                                <div class="card ">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">Historique des statuts</span>
                                            <span>
                                                <button  type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#statutModal">
                                                    <i class="fa fa-plus"></i>
                                                    Changer de statut
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table text-center table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">Statut</th>
                                                <th scope="col">Commentaire</th>
                                                <th scope="col">Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if militaireStatus | length == 0 %}
                                                <p class="text-center">Aucun statut</p>
                                            {% else %}
                                                {% for statut in militaireStatus %}
                                                    <tr>
                                                        <td>
                                                            {% if statut.statut == 1 %}
                                                                <span class="text-danger fw-bold">Radie</span>
                                                            {% endif %}


                                                            {% if statut.statut == 3 %}
                                                                <span class="text-success fw-bold">En service</span>
                                                            {% endif %}

                                                            {% if statut.statut == 0 %}
                                                                <span class="text-warning fw-bold">Retraite</span>
                                                            {% endif %}

                                                            {% if statut.statut == 2 %}
                                                                <span class="text-success fw-bold">En service</span>
                                                            {% endif %}

                                                            {% if statut.statut == 4 %}
                                                                <span class="text-success fw-bold">Disponibilite</span>
                                                            {% endif %}

                                                            {% if statut.statut == 5 %}
                                                                <span class="text-primary fw-bold">Detachement</span>
                                                            {% endif %}

                                                            {% if statut.statut == 6 %}
                                                                <span class="text-danger fw-bold">Deserteur</span>
                                                            {% endif %}

                                                            {% if statut.statut == 7 %}
                                                                <span class="text-warning fw-bold">Absence</span>
                                                            {% endif %}

                                                            {% if statut.statut == 8 %}
                                                                <span class="text-warning fw-bold">Arret maladie</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ statut.commentaire }}</td>
                                                        <td>{{ statut.dateDebut|date("d-M-Y") }}</td>

                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
