{% extends 'nav.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block javascripts %}
    <script  src="{{ asset('/assets/js/datepicker/moment.min.js') }}"></script>
    <script  src="{{ asset('/assets/js/datepicker/daterangepicker.js') }}"></script>
    <script  src="{{ asset('/assets/js/custom/picker.js') }}"></script>

{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('/assets/css/datepicker/daterangepicker.css') }}" />


{% endblock %}


{% block content %}

    {{ form_errors(militaireExerciceForm)|length }}

    <div class="modal fade" id="affectationModal" tabindex="-1" aria-labelledby="affectationModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    {{ form_start(affectationForm) }}

                    {{ form_errors(affectationForm) }}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Affecter</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            {{ form_label(affectationForm.date, "Date d'affectation : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(affectationForm.date, {'attr': {'class': 'form-control js-datepicker'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(affectationForm.date) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ form_label(affectationForm.dateFin, "Date de fin d'affectation: ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(affectationForm.dateFin, {'attr': {'class': 'form-control js-datepicker'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(affectationForm.dateFin) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ form_label(affectationForm.fonction, "Poste : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(affectationForm.fonction, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(affectationForm.fonction) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ form_label(affectationForm.unite, "Unite : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(affectationForm.unite, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(affectationForm.unite) }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        {{ form_row(affectationForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                        {{ form_row(affectationForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                    </div>
                    {{ form_end(affectationForm) }}
                </div>
        </div>
    </div>


    <div class="modal fade" id="missionModal" tabindex="-1" aria-labelledby="missionModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                {{ form_start(militaireMissionForm) }}

                {{ form_errors(militaireMissionForm) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une mission effectuee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        {{ form_label(militaireMissionForm.dateDebut, "Date de debut de mission : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireMissionForm.dateDebut, {'attr': {'class': 'form-control js-datepicker'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireMissionForm.dateDebut) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form_label(militaireMissionForm.dateFin, "Date de fin de mission : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireMissionForm.dateFin, {'attr': {'class': 'form-control js-datepicker'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireMissionForm.dateFin) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form_label(militaireMissionForm.commentaire, "Commentaire : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireMissionForm.commentaire, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireMissionForm.commentaire) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form_label(militaireMissionForm.mission, "Mission : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireMissionForm.mission, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireMissionForm.mission) }}
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    {{ form_row(militaireMissionForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                    {{ form_row(militaireMissionForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                </div>
                {{ form_end(militaireMissionForm) }}
            </div>
        </div>
    </div>


    <div class="modal fade" id="exerciceModal" tabindex="-1" aria-labelledby="exerciceModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                {{ form_start(militaireExerciceForm) }}

                {{ form_errors(militaireExerciceForm) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un exercice effectue</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        {{ form_label(militaireExerciceForm.exercice, "Exercice : ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireExerciceForm.exercice, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireExerciceForm.exercice) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(militaireExerciceForm.date, '', {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireExerciceForm.date, {'attr': {'class': 'form-control js-datepicker'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireExerciceForm.date) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(militaireExerciceForm.commentaire, '', {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(militaireExerciceForm.commentaire, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(militaireExerciceForm.commentaire) }}
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    {{ form_row(militaireExerciceForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                    {{ form_row(militaireExerciceForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                </div>
                {{ form_end(militaireExerciceForm) }}
            </div>
        </div>
    </div>


    <div style="margin-top: 1em">
        {% for message in app.session.flashbag.get('create_militaire') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}!</strong>
                <button type="button" class="btn-close"  data-bs-dismiss="alert"  aria-label="Close"></button>
            </div>
        {% endfor %}

        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col col-12">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col col-2">
                                <img style="height: 14em;width: 14em" src="{{ asset('/elements/') }}{{ militaire.fichiers[0].nom }}" class="img-thumbnail" alt="...">
                            </div>
                            <div class="col col-10">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col col-2" style="word-wrap: break-word;">
                                            <p>
                                                <span class="fw-bold">Matricule: </span>
                                                <span>{{ militaire.matricule }}</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Grade: </span>
                                                <span>{{ militaire.grade.intitule }}</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Nom: </span>
                                                <span>{{ militaire.nom }}</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Prenoms: </span>
                                                <span>{{ militaire.prenoms }}</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Date de naissance: </span>
                                                <span>{{ militaire.dateNaissance|date("d-M-Y")  }}</span>
                                            </p>

                                        </div>

                                        <div class="col col-2" style="word-wrap: break-word;">
                                            <p>
                                                <span class="fw-bold">Age: </span>
                                                {% set age = date().diff(date(militaire.dateNaissance)).y %}
                                                <span>{{ age }} ans</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Sexe: </span>
                                                <span>
                                            {% if militaire.sexe == 'f' %}
                                                Femme
                                            {% else %}
                                                Homme
                                            {% endif %}
                                        </span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Taille: </span>
                                                <span>{{ militaire.taille }} m</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Couleur des yeux: </span>
                                                <span>{{ militaire.couleurYeux }}</span>
                                            </p>

                                            <p>
                                                <span class="fw-bold">Situation matrimoniale: </span>
                                                <span>{{ militaire.situationMatri }}</span>
                                            </p>

                                        </div>

                                        <div class="col col-3" style="word-wrap: break-word;">
                                            <p>
                                                <span class="fw-bold">Adresse: </span>
                                                <span>{{ militaire.adresse }}</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Numeros de telephones: </span>
                                                <span>
                                                    {% for telephone in militaire.telephone %}
                                                        {{ telephone.numero }}
                                                    {% endfor %}
                                                </span>
                                            </p>

                                        </div>

                                        <div class="col col-3" style="word-wrap: break-word;">
                                            <p>
                                                <span class="fw-bold">Date d'incorporation: </span>
                                                <span>{{ militaire.dateIncorp|date("d-M-Y")  }}</span>
                                            </p>
                                            <p>
                                                <span class="fw-bold">Annees de service: </span>
                                                <span>
                                                    {% set srv = date().diff(date(militaire.dateIncorp)).y %}
                                                    {{ srv }} ans
                                                </span>
                                            </p>

                                            <p>
                                                <span class="fw-bold">Statut: </span>
                                                <span>

                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-5"></div>
            </div>
        </div>

        <div style="margin-left: 1em" class="mt-5">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-prof-tab" data-bs-toggle="tab" data-bs-target="#nav-prof" type="button" role="tab" aria-controls="nav-prof" aria-selected="false">Cursus professionnel</button>
                    <button class="nav-link" id="nav-formation-tab" data-bs-toggle="tab" data-bs-target="#nav-formation" type="button" role="tab" aria-controls="nav-formation" aria-selected="false">Fiche formation</button>
                    <button class="nav-link" id="nav-filiation-tab" data-bs-toggle="tab" data-bs-target="#nav-filiation" type="button" role="tab" aria-controls="nav-filiation" aria-selected="false">Filiation</button>
                    <button class="nav-link" id="nav-sante-tab" data-bs-toggle="tab" data-bs-target="#nav-sante" type="button" role="tab" aria-controls="nav-sante" aria-selected="false">Dossier sante</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-prof" role="tabpanel" aria-labelledby="nav-prof">
                    <div class="mt-5" style="margin-left: 1em">
                        <div class="row">
                            <div class="col col-12"  style="word-wrap: break-word;">
                                <div class="row">
                                    <div class="col col-12">
                                        <p>
                                            <span class="fw-bold">Origine de recrutement : </span>
                                            <span>  {{ militaire.origineRecrutement.intitule }} </span>
                                        </p>
                                    </div>
                                    <div class="col col-12">
                                        <p>
                                            <span class="fw-bold">Grade actuel / Categorie : </span>
                                            <span>  {{ militaire.grade.intitule }} / {{ militaire.grade.gradeCategorie.intitule }}  </span>
                                        </p>
                                    </div>

                                    <div class="col col-12">
                                        <p>
                                            <span class="fw-bold">Profession anterieure : </span>
                                            <span>  {{ militaire.professionAnt }}   </span>
                                        </p>
                                    </div>
                                </div>
                            </div>



                            <div class="col col-6 mt-4"  style="word-wrap: break-word;">

                                {% for message in app.session.flashbag.get('create_affectation') %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}!</strong>
                                        <button type="button" class="btn-close"  data-bs-dismiss="alert"  aria-label="Close"></button>
                                    </div>
                                {% endfor %}

                                <div class="card ">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">Unites d'affectation</span>
                                            <span>
                                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#affectationModal">
                                                    <i class="fa fa-plus"></i>
                                                    Changer d'affectation
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table text-center table-bordered table-striped table-hover table-responsive">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Date de debut</th>
                                                    <th scope="col">Date de fin</th>
                                                    <th scope="col">Unite</th>
                                                    <th scope="col">Corps</th>
                                                    <th scope="col">Poste</th>
                                                    <th scope="col">Duree</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if affectations | length == 0 %}
                                                    <p class="text-center">Aucune affectation</p>
                                                {% else %}
                                                    {% for affectation in affectations %}
                                                        <tr>
                                                            <td>{{ affectation.date|date("d-M-Y")  }}</td>
                                                            <td>{{ affectation.dateFin|date("d-M-Y")  }}</td>
                                                            <td>{{ affectation.unite.intitule }}</td>
                                                            <td>{{ affectation.unite.corps.intitule }}</td>
                                                            <td>{{ affectation.fonction }}</td>
                                                            <td>
                                                                {% if affectation.dateFin != null %}
                                                                    {% set dureeY = affectation.dateFin.diff(date(affectation.date)).y %}
                                                                    {% set dureeM = (dureeY*12)+affectation.dateFin.diff(date(affectation.date)).m %}
                                                                    {{ dureeM }} mois
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}

                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-6"></div>

                            <div class="col col-6 mt-4"  style="word-wrap: break-word;">

                                {% for message in app.session.flashbag.get('create_militaireMission') %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}!</strong>
                                        <button type="button" class="btn-close"  data-bs-dismiss="alert"  aria-label="Close"></button>
                                    </div>
                                {% endfor %}

                                <div class="card ">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">Missions effectues</span>
                                            <span>
                                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#missionModal">
                                                    <i class="fa fa-plus"></i>
                                                    Ajouter
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table text-center table-bordered table-striped table-hover table-responsive">
                                            <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Date de debut</th>
                                                <th scope="col">Date de fin</th>
                                                <th scope="col">Mission</th>
                                                <th scope="col">Lieu</th>
                                                <th scope="col">Commentaires</th>
                                                <th scope="col">Duree</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if militaireMissions | length == 0 %}
                                                <p class="text-center">Aucune mission</p>
                                            {% else %}
                                                {% for militaireMission in militaireMissions %}
                                                    <tr>
                                                        <td class="d-flex justify-content-center">
                                                            <img height="50" width="50" src="{{ asset('/logos/') }}{{ militaireMission.mission.logo.nom }}" class="img-thumbnail" alt="...">
                                                        </td>
                                                        <td>{{ militaireMission.dateDebut|date("d-M-Y")  }}</td>
                                                        <td>{{ militaireMission.dateFin|date("d-M-Y")  }}</td>
                                                        <td>{{ militaireMission.mission.intitule }}</td>
                                                        <td>{{ militaireMission.mission.lieu}}</td>
                                                        <td>{{ militaireMission.commentaire }}</td>
                                                        <td>
                                                            {% set dureeY = militaireMission.dateFin.diff(date(militaireMission.dateDebut)).y %}
                                                            {% set dureeM = (dureeY*12)+militaireMission.dateFin.diff(date(militaireMission.dateDebut)).m %}
                                                            {{ dureeM }} mois
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-6"></div>

                            <div class="col col-6 mt-4"  style="word-wrap: break-word;">

                                {% for message in app.session.flashbag.get('create_militaireExercice') %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}!</strong>
                                        <button type="button" class="btn-close"  data-bs-dismiss="alert"  aria-label="Close"></button>
                                    </div>
                                {% endfor %}

                                <div class="card ">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">Exercices</span>
                                            <span>
                                                <button type="button"  class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exerciceModal">
                                                    <i class="fa fa-plus"></i>
                                                    Ajouter
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table text-center table-bordered table-striped table-hover table-responsive">
                                            <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Exercice</th>
                                                <th scope="col">Lieu</th>
                                                <th scope="col">Commentaires</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if militaireExercices | length == 0 %}
                                                <p class="text-center">Aucun exercice</p>
                                            {% else %}
                                                {% for militaireExercice in militaireExercices %}
                                                    <tr>
                                                        <td>{{ militaireExercice.date|date("d-M-Y")  }}</td>
                                                        <td>{{ militaireExercice.exercice.intitule  }}</td>
                                                        <td>{{ militaireExercice.exercice.lieu }}</td>
                                                        <td>{{ militaireExercice.commentaire }}</td>
                                                    </tr>
                                                {% endfor %}

                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-formation" role="tabpanel" aria-labelledby="nav-formation"></div>
                <div class="tab-pane fade" id="nav-filiation" role="tabpanel" aria-labelledby="nav-filiation">...</div>
                <div class="tab-pane fade" id="nav-sante" role="tabpanel" aria-labelledby="nav-sante">...</div>
            </div>
        </div>
    </div>


{% endblock %}
