{% extends 'nav.html.twig' %}

{% block title %}Rechercher un element{% endblock %}


{% block javascripts %}

    <script  src="{{ asset('/assets/js/datepicker/moment.min.js') }}"></script>
    <script  src="{{ asset('/assets/js/datepicker/daterangepicker.js') }}"></script>
    <script  src="{{ asset('/assets/js/custom/picker.js') }}"></script>
    <script  src="{{ asset('/assets/js/jqueryUi/jquery-ui.js') }}"></script>
    <script type="module"  src="{{ asset('/assets/js/custom/custom.js') }}"></script>

    <script>
        $( function() {
            $( "#slider-range" ).slider({
                range: true,
                min: 0.9,
                max: 3.1,
                step: 0.1,
                values: [ 0.9, 3.1 ],
                slide: function( event, ui ) {
                    $( "#search_militaire_taille" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                }
            });
            $( "#search_militaire_taille" ).val($( "#slider-range" ).slider( "values", 0 ) +
                " - " + $( "#slider-range" ).slider( "values", 1 ) );
        } );
    </script>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/css/datepicker/daterangepicker.css') }}" />
    <link rel="stylesheet" href="{{ asset('/assets/css/jqueryUi/jquery-ui.css') }}" />


{% endblock %}


{% block content %}


   <div class="container-fluid mt-4">
       <ul class="nav nav-tabs" id="myTab" role="tablist">
           <li class="nav-item" role="presentation">
               <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Rechercher un element</button>
           </li>
       </ul>
       <div class="tab-content card pt-5" id="myTabContent">



           <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


               <div>

                   {{ form_start(searchForm) }}

                   {{ form_errors(searchForm) }}


                   <div class="row mt-5">
                       <div class="col col-12 mb-3">
                           {{ form_label(searchForm.matricule, "Matricule: ", {'label_attr': {'class': 'form-label'}}) }}
                           {{ form_widget(searchForm.matricule, {'attr': {'class': 'form-control'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.matricule) }}
                           </div>

                       </div>
                   </div>



                   <div class="row">
                       <div class="col col-12 mt-4">
                           <h5 class="font-weight-bold">Recherche avancée</h5>
                           <hr>
                       </div>

                       <div class="col col-4 mb-3">
                           {{ form_label(searchForm.nom, "Nom: ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.nom, {'attr': {'class': 'form-control'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.nom) }}
                           </div>
                       </div>

                       <div class="col col-4 mb-3">
                           {{ form_label(searchForm.prenoms, "Prenoms : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.prenoms, {'attr': {'class': 'form-control'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.prenoms) }}
                           </div>
                       </div>


                       <div class="col col-4  mb-3">
                           {{ form_label(searchForm.dateNaissance, "Date de naissance entre : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.dateNaissance, {'attr': {'class': 'search-picker form-control'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.dateNaissance) }}
                           </div>
                       </div>

                       <div class="col col-3 mb-3">
                           {{ form_label(searchForm.sexe, "Sexe : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.sexe, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-primary'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.sexe) }}
                           </div>
                       </div>

                       <div class="col col-4 mb-3">
                           <p>
                               {{ form_label(searchForm.taille, "Taille en (m) entre : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                               {{ form_widget(searchForm.taille, {'attr': {'class': 'form-control'}}) }}
                           </p>
                           <div id="slider-range"></div>
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.taille) }}
                           </div>
                       </div>

                       <div class="col col-3 mb-3">
                           {{ form_label(searchForm.couleurYeux, "Couleur des yeux : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.couleurYeux, {'attr': {'class': 'form-control'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.couleurYeux) }}
                           </div>
                       </div>

                       <div class="col col-3 mb-3">
                           {{ form_label(searchForm.situationMatri, "Situation Matrimoniale : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.situationMatri, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-primary'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.situationMatri) }}
                           </div>
                       </div>

                       <div class="col col-3 mb-3">
                           {{ form_label(searchForm.hasChildren, "Situation familiale : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.hasChildren, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-primary'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.hasChildren) }}
                           </div>
                       </div>


                       <div class="col col-3 mb-3">
                           {{ form_label(searchForm.adresse, "Adresse : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.adresse, {'attr': {'class': 'form-control'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.adresse) }}
                           </div>
                       </div>

                       <div class="col col-3 mb-3">
                           {{ form_label(searchForm.telephone, "Telephone : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.telephone, {'attr': {'class': 'form-control'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.telephone) }}
                           </div>
                       </div>

                       <div class="col col-3 mb-3">
                           {{ form_label(searchForm.dateIncorp, "Date d'incorporation : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.dateIncorp, {'attr': {'class': 'search-picker form-control'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.dateIncorp) }}
                           </div>
                       </div>


                       <div class="col col-3 mb-3">
                           {{ form_label(searchForm.professionAnt, "Profession anterieure : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.professionAnt, {'attr': {'class': 'form-control'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.professionAnt) }}
                           </div>
                       </div>

                       <div class="col col-3 mb-3">
                           {{ form_label(searchForm.grade, "Grade : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.grade, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-primary'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.grade) }}
                           </div>
                       </div>

                       <div class="col col-4 mb-3">
                           {{ form_label(searchForm.specialite, "Specialite : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.specialite, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-primary'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.specialite) }}
                           </div>
                       </div>



                       <div class="col col-3 mb-3">
                           {{ form_label(searchForm.origineRecrutement, "Origine de recrutement : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                           {{ form_widget(searchForm.origineRecrutement, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-primary'}}) }}
                           <div class="form-error" style="color: red">
                               {{ form_errors(searchForm.origineRecrutement) }}
                           </div>
                       </div>

                   </div>

                   <div class="d-flex justify-content-center">
                       {{ form_row(searchForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                   </div>

                   {{ form_end(searchForm) }}
               </div>


               <!-- Result card -->


               <div class="mt-5">
                   <div class="card">
                       <!-- Card content -->
                       <div class="card-body">
                           <!-- Title -->
                           <h4 class="card-title">RÉSULTATS DE RECHERCHE</h4>
                           <hr>

                           {% if qr_result | length > 0 %}


                               <table id="elements" class="table table-responsive table-bordered table-striped table-hover text-center">
                                   <thead>
                                   <tr>
                                       <th>Photo</th>
                                       <th>Matricule</th>
                                       <th>Nom</th>
                                       <th>Prenoms</th>
                                       <th>Grade</th>
                                       <th>Date de naissance</th>
                                       <th>Sexe</th>
                                       <th>Numeros de telephones</th>
                                       <th>Adresse</th>
                                       <th>Date d'incorporation</th>
                                       <th>Annees de service</th>
                                       <th>Fonction</th>
                                       <th>Unite d'affectation</th>
                                       <th>Corps d'affectation</th>
                                       <th>Statut</th>
                                       <th></th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   {% if qr_result | length == 0 %}
                                       <p class="text-center">Aucun element n'a été ajouté pour l'instant</p>
                                   {% else %}
                                       {% for militaire in qr_result %}
                                           <tr>
                                               <td>
                                                   {% if militaire.fichiers is not null and militaire.fichiers|length > 0 %}
                                                       <img height="50" width="50" src="{{ asset('/elements/') }}{{ militaire.fichiers[0].nom }}" class="img-thumbnail" alt="...">
                                                   {% endif %}
                                               </td>
                                               <td>{{ militaire.matricule }}</td>
                                               <td>{{ militaire.nom }}</td>
                                               <td>{{ militaire.prenoms }}</td>
                                               <td>{{ militaire.grade.intitule }}</td>
                                               <td>{{ militaire.dateNaissance|date("d-m-Y")  }}</td>
                                               <td>
                                                   {% if militaire.sexe == 'f' %}
                                                       Femme
                                                   {% else %}
                                                       Homme
                                                   {% endif %}
                                               </td>
                                               <td>
                                                   {% for telephone in militaire.telephone %}
                                                       {{ telephone.numero }} <br>
                                                   {% endfor %}
                                               </td>
                                               <td>{{ militaire.adresse }}</td>
                                               <td>{{ militaire.dateIncorp|date("d-m-Y")  }}</td>
                                               <td>
                                                   {% set srv = date().diff(date(militaire.dateIncorp)).y %}
                                                   {{ srv }}
                                               </td>
                                               <td>

                                                   {% set size = militaire.affectations|length -1 %}
                                                   {% if size >= 0 %}
                                                       {{ militaire.affectations[size].fonction }}
                                                   {% endif %}
                                               </td>
                                               <td>
                                                   {% if size >= 0 %}
                                                       {{  militaire.affectations[size].unite.intitule }}
                                                   {% endif %}
                                               </td>
                                               <td>
                                                   {% if size >= 0 %}
                                                       {{  militaire.affectations[size].unite.corps.intitule }}
                                                   {% endif %}
                                               </td>
                                               <td>

                                                   {% set key = militaire.militaireStatuts|length -1 %}

                                                   {% if key >= 0 %}
                                                       {% set lastStatut =  militaire.militaireStatuts[key] %}

                                                       {% if lastStatut != null and lastStatut.statut == 1 %}
                                                           <span class="text-danger fw-bold">Radie</span>
                                                       {% endif %}


                                                       {% if lastStatut != null and lastStatut.statut == 3 %}
                                                           <span class="text-success fw-bold">En service</span>
                                                       {% endif %}

                                                       {% if lastStatut != null and lastStatut.statut == 0 %}
                                                           <span class="text-warning fw-bold">Retraite</span>
                                                       {% endif %}

                                                       {% if lastStatut != null and lastStatut.statut == 2 %}
                                                           <span class="text-success fw-bold">En service</span>
                                                       {% endif %}

                                                       {% if lastStatut != null and lastStatut.statut == 4 %}
                                                           <span class="text-success fw-bold">Disponibilite</span>
                                                       {% endif %}

                                                       {% if lastStatut != null and lastStatut.statut == 5 %}
                                                           <span class="text-primary fw-bold">Detachement</span>
                                                       {% endif %}

                                                       {% if lastStatut != null and lastStatut.statut == 6 %}
                                                           <span class="text-danger fw-bold">Deserteur</span>
                                                       {% endif %}

                                                       {% if lastStatut != null and lastStatut.statut == 7 %}
                                                           <span class="text-warning fw-bold">Absence</span>
                                                       {% endif %}

                                                       {% if lastStatut != null and lastStatut.statut == 8 %}
                                                           <span class="text-warning fw-bold">Arret maladie</span>
                                                       {% endif %}
                                                   {% endif %}

                                               </td>

                                               <td>
                                                   <a target="_blank" rel="noopener noreferrer" href="{{ path('militaire_details', { 'id': militaire.id }) }}" type="button" class="btn btn-primary">
                                                       <i class="fa fa-eye"></i>
                                                   </a>
                                               </td>

                                           </tr>
                                       {% endfor %}

                                   {% endif %}
                                   </tbody>
                               </table>


                           {% else %}

                               <table class="table table-responsive table-bordered table-striped table-hover text-center">
                                   <thead>
                                   <tr>
                                       <th>Photo</th>
                                       <th>Matricule</th>
                                       <th>Nom</th>
                                       <th>Prenoms</th>
                                       <th>Grade</th>
                                       <th>Date de naissance</th>
                                       <th>Sexe</th>
                                       <th>Numeros de telephones</th>
                                       <th>Adresse</th>
                                       <th>Date d'incorporation</th>
                                       <th>Annees de service</th>
                                       <th>Fonction</th>
                                       <th>Unite d'affectation</th>
                                       <th>Corps d'affectation</th>
                                       <th>Statut</th>
                                       <th></th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                       <tr>
                                           <td colspan="17">
                                                Aucun resultat
                                           </td>
                                       </tr>
                                   </tbody>
                               </table>


                           {% endif %}

                       </div>

                   </div>
               </div>
           </div>
       </div>

   </div>

{% endblock %}
