


{% extends 'nav.html.twig' %}

{% block title %}Modifier {{ unite.intitule }}{% endblock %}



{% block content %}


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('unite_index') }}">Liste des unites</a></li>
            <li class="breadcrumb-item"><a href="{{ path('unite_show', {'id': unite.id}) }}">{{ unite.intitule }}</a></li>
            <li class="breadcrumb-item active">Modifier</li>
        </ol>
    </nav>



    <div class="d-flex justify-content-start">
        {{ include('unite/_form.html.twig', {'button_label': 'Update'}) }}
    </div>




{% endblock %}

{% block botton_javascripts %}
{% endblock %}