

{% extends 'nav.html.twig' %}

{% block title %}{{ unite.intitule }}{% endblock %}



{% block content %}


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('unite_index') }}">Liste des unites</a></li>
            <li class="breadcrumb-item active">{{ unite.intitule }}</li>
        </ol>
    </nav>

    <div class="mt-3 mb-5">

        <div class="d-flex justify-content-start">
            <a class="btn btn-secondary" href="{{ path('unite_edit', {'id': unite.id}) }}">
                <i class="fa fa-edit"></i>
                Modifier
            </a>
            {{ include('unite/_delete_form.html.twig') }}
        </div>

    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ unite.id }}</td>
        </tr>
        <tr>
            <th>Intitule</th>
            <td>{{ unite.intitule }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ unite.description }}</td>
        </tr>
        </tbody>
    </table>




    <div class="mt-5">

        <h5>{{ unite.intitule }} ({{ affectations | length }}) elements</h5>
        <hr>
        <table id="elements" class="table table-responsive table-bordered table-striped table-hover text-center">
            <thead>
            <tr>
                <th>Photo</th>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Prenoms</th>
                <th>Grade</th>
                <th>Echelon</th>
                <th>Indice</th>
                <th>Date d'incorporation</th>
                <th>Annees de service</th>
                <th>Date de naissance</th>
                <th>Sexe</th>
                <th>Groupe sanguin</th>
                <th>Numeros de telephones</th>
                <th>Adresse</th>
                <th>Fonction</th>
                <th>Unite d'affectation</th>
                <th>Corps d'affectation</th>
                <th>Statut</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if affectations | length == 0 %}
                <p class="text-center">Aucun element n'a été ajouté pour l'instant</p>
            {% else %}
                {% for affectation in affectations %}
                    <tr>
                        <td>
                            {% if affectation.militaire.fichiers is not null and affectation.militaire.fichiers|length > 0 %}
                                <img height="50" width="50" src="{{ asset('/elements/') }}{{ affectation.militaire.fichiers[0].nom }}" class="img-thumbnail" alt="...">
                            {% endif %}
                        </td>
                        <td>{{ affectation.militaire.matricule }}</td>
                        <td>{{ affectation.militaire.nom }}</td>
                        <td>{{ affectation.militaire.prenoms }}</td>
                        <td>{{ affectation.militaire.grade.intitule }}</td>
                        {% set indice = IndiceCalculator.calculateIndice(affectation.militaire.id) %}
                        <td>
                            {% if indice is not null %}
                                {{ indice.echelon }}
                            {% endif %}
                        </td>
                        <td>
                            {% if indice is not null %}
                                {{ indice.indice }}
                            {% endif %}
                        </td>
                        <td>{{ affectation.militaire.dateIncorp|date("d-m-Y")  }}</td>
                        <td>
                            {% set incorp = date().diff(date(affectation.militaire.dateIncorp)).y %}
                            {{ incorp }}
                        </td>
                        <td>{{ affectation.militaire.dateNaissance|date("d-m-Y")  }}</td>
                        <td>
                            {% if affectation.militaire.sexe == 'f' %}
                                Femme
                            {% else %}
                                Homme
                            {% endif %}
                        </td>
                        <td>{{ affectation.militaire.groupeSanguin }}</td>
                        <td>
                            {% for telephone in affectation.militaire.telephone %}
                                {{ telephone.numero }} <br>
                            {% endfor %}
                        </td>
                        <td>{{ affectation.militaire.adresse }}</td>
                        <td>

                            {% set size = affectation.militaire.affectations|length -1 %}
                            {% if size >= 0 %}
                                {{ affectation.militaire.affectations[size].fonction }}
                            {% endif %}
                        </td>
                        <td>
                            {% if size >= 0 %}
                                {{  affectation.militaire.affectations[size].unite.intitule }}
                            {% endif %}
                        </td>
                        <td>
                            {% if size >= 0 %}
                                {{  affectation.militaire.affectations[size].unite.corps.intitule }}
                            {% endif %}
                        </td>
                        <td>

                            {% set key = affectation.militaire.militaireStatuts|length -1 %}

                            {% if key >= 0 %}
                                {% set lastStatut =  affectation.militaire.militaireStatuts[key] %}

                                {% if lastStatut != null and lastStatut.statut == 1 %}
                                    <span class="text-danger fw-bold">Radie</span>
                                {% endif %}


                                {% if lastStatut != null and lastStatut.statut == 3 %}
                                    <span class="text-success fw-bold">En service</span>
                                {% endif %}

                                {% if lastStatut != null and lastStatut.statut == 0 %}
                                    <span class="text-warning fw-bold">Retraite</span>
                                {% endif %}

                                {% if lastStatut != null and lastStatut.statut == 2 %}
                                    <span class="text-success fw-bold">En service</span>
                                {% endif %}

                                {% if lastStatut != null and lastStatut.statut == 4 %}
                                    <span class="text-success fw-bold">Disponibilite</span>
                                {% endif %}

                                {% if lastStatut != null and lastStatut.statut == 5 %}
                                    <span class="text-primary fw-bold">Detachement</span>
                                {% endif %}

                                {% if lastStatut != null and lastStatut.statut == 6 %}
                                    <span class="text-danger fw-bold">Deserteur</span>
                                {% endif %}

                                {% if lastStatut != null and lastStatut.statut == 7 %}
                                    <span class="text-warning fw-bold">Absence</span>
                                {% endif %}

                                {% if lastStatut != null and lastStatut.statut == 8 %}
                                    <span class="text-warning fw-bold">Arret maladie</span>
                                {% endif %}
                            {% endif %}

                        </td>

                        <td>
                            <a target="_blank" rel="noopener noreferrer" href="{{ path('militaire_details', { 'id': affectation.militaire.id }) }}" type="button" class="btn btn-primary">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>

                    </tr>
                {% endfor %}

            {% endif %}
            </tbody>
        </table>
    </div>




{% endblock %}

{% block botton_javascripts %}
{% endblock %}