{% extends 'nav.html.twig' %}

{% block title %}Missions et exercices {% endblock %}

{% block javascripts %}
    <script  src="{{ asset('/assets/js/datepicker/moment.min.js') }}"></script>
    <script  src="{{ asset('/assets/js/datepicker/daterangepicker.js') }}"></script>
    <script  src="{{ asset('/assets/js/custom/picker.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/css/datepicker/daterangepicker.css') }}" />


{% endblock %}


{% block content %}

    <div style="margin-top: 1em; margin-bottom: 5em;">
        <ul class="nav nav-tabs md-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="mission-tab" data-toggle="tab" href="#mission" type="button" role="tab" aria-controls="home" aria-selected="true">Creer une mission</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="exercice-tab" data-toggle="tab" href="#exercice" type="button" role="tab" aria-controls="corps" aria-selected="false">Exercices</a>
            </li>
        </ul>
        <div class="tab-content card pt-5" id="myTabContent">
            <div class="tab-pane fade show active" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div class="row" style="margin-top: 1em">

                    <div class="col col-5">

                        {% for message in app.session.flashbag.get('mission_add') %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>{{ message }}!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}

                        {{ form_start(missionForm) }}

                        {{ form_errors(missionForm) }}

                        <div class="mb-3">
                            {{ form_label(missionForm.intitule, "Intitule de la mission: ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                            <div class="input-group">
                                {{ form_widget(missionForm.intitule, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-error" style="color: red">
                                {{ form_errors(missionForm.intitule) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(missionForm.type, "Type de mission: ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                            <div>
                                {{ form_widget(missionForm.type, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-ins'}}) }}
                            </div>
                            <div class="form-error" style="color: red">
                                {{ form_errors(missionForm.type) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(missionForm.lieu, "Lieu :", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                            <div class="input-group">
                                {{ form_widget(missionForm.lieu, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-error" style="color: red">
                                {{ form_errors(missionForm.lieu) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(missionForm.commentaire, "Commentaires : ", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                            <div class="input-group">
                                {{ form_widget(missionForm.commentaire, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-error" style="color: red">
                                {{ form_errors(missionForm.commentaire) }}
                            </div>
                        </div>

                        <div class="md-form">

                            <div class="file-field">
                                <div class="btn blue-gradient btn-sm float-left">
                                    <span><i class="fas fa-cloud-upload-alt mr-2" aria-hidden="true"></i>Choisir un fichier</span>
                                    {{ form_widget(missionForm.logo, {'attr': {'class': ''}}) }}
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" readonly type="text" placeholder="Uploader un logo">
                                </div>
                            </div>
                            <div class="form-error" style="color: red">
                                {{ form_errors(missionForm.logo) }}
                            </div>
                        </div>

                        <hr>
                        <div class="d-flex justify-content-center">
                            {{ form_row(missionForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                            {{ form_row(missionForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                        </div>

                        {{ form_end(missionForm) }}

                    </div>

                    <div class="col col-6">

                        <div class="card" >
                            <div class="card-body">
                                <h5 class="card-title">Liste des  missions</h5>
                                <hr>
                                <table class="table table-bordered table-striped table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th{% if missions.isSorted('Intitule') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(missions, 'Intitule', 'Intitule') }}
                                        </th>
                                        <th{% if missions.isSorted('Type') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(missions, 'Type', 'Type') }}
                                        </th>
                                        <th{% if missions.isSorted('Lieu') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(missions, 'Lieu', 'Lieu') }}
                                        </th>
                                        <th{% if missions.isSorted('Commentaire') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(missions, 'Commentaire', 'Description') }}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if missions | length == 0 %}
                                        <p class="text-center">Aucune mission n'a été ajoutée pour l'instant</p>
                                    {% else %}
                                        {% for mission in missions %}
                                            <tr>
                                                <td class="d-flex justify-content-center">
                                                    <img height="50" width="50" src="{{ asset('/logos/') }}{{ mission.logo.nom }}" class="img-thumbnail" alt="...">
                                                </td>
                                                <td>{{ mission.intitule }}</td>
                                                <td>{{ mission.type }}</td>
                                                <td>{{ mission.lieu }}</td>
                                                <td>
                                                    <span class="d-inline-block text-truncate" style="max-width: 20em;">
                                                        {{ mission.commentaire }}
                                                    </span>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    {{ knp_pagination_render(missions,'/paginator/paginator.html.twig') }}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="exercice" role="tabpanel" aria-labelledby="exercice-tab">


                <div class="row" style="margin-top: 2em">
                    <div class="col col-6">

                        {% for message in app.session.flashbag.get('exercice_add') %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>{{ message }}!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}

                        {{ form_start(exerciceForm) }}

                        {{ form_errors(exerciceForm) }}

                        <div class="mb-3">
                            {{ form_label(exerciceForm.intitule, "Nom  de l'exercice : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(exerciceForm.intitule, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(exerciceForm.intitule) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(exerciceForm.lieu, "Lieu de l'exercice : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(exerciceForm.lieu, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(exerciceForm.lieu) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(exerciceForm.commentaire, "Commentaire", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                            <div class="input-group">
                                {{ form_widget(exerciceForm.commentaire, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-error" style="color: red">
                                {{ form_errors(exerciceForm.commentaire) }}
                            </div>
                        </div>

                        <hr>
                        <div class="d-flex justify-content-center">
                            {{ form_row(exerciceForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                            {{ form_row(exerciceForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                        </div>

                        {{ form_end(exerciceForm) }}
                    </div>

                    <div class="col col-6">

                        <div class="card" >
                            <div class="card-body">
                                <h5 class="card-title">Liste des  exercices</h5>
                                <hr>
                                <table class="table table-bordered table-striped table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th{% if exercices.isSorted('Intitule') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(exercices, 'Intitule', 'Intitule') }}
                                        </th>
                                        <th{% if exercices.isSorted('Lieu') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(exercices, 'Lieu', 'Lieu') }}
                                        </th>
                                        <th>
                                            Commentaires
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if exercices | length == 0 %}
                                        <p class="text-center">Aucun exercice n'a été ajoutée pour l'instant</p>
                                    {% else %}
                                        {% for exercice in exercices %}
                                            <tr>
                                                <td>{{ exercice.intitule }}</td>
                                                <td>{{ exercice.lieu }}</td>
                                                <td>{{ exercice.commentaire }}</td>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    {{ knp_pagination_render(exercices,'/paginator/paginator.html.twig') }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
