{% extends 'nav.html.twig' %}

{% block title %}Missions et exercices {% endblock %}

{% block javascripts %}
    <script  src="{{ asset('/assets/js/datepicker/moment.min.js') }}"></script>
    <script  src="{{ asset('/assets/js/datepicker/daterangepicker.js') }}"></script>
    <script  src="{{ asset('/assets/js/custom/picker.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/css/datepicker/daterangepicker.css') }}" />


{% endblock %}


{% block content %}

    <div style="margin-top: 1em; margin-bottom: 5em;">
        <ul class="nav nav-tabs md-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="exercice-tab" data-toggle="tab" href="#exercice" type="button" role="tab" aria-controls="corps" aria-selected="false">Exercices</a>
            </li>
        </ul>
        <div class="tab-content card pt-5" id="myTabContent">
            <div class="tab-pane fade show active" id="exercice" role="tabpanel" aria-labelledby="exercice-tab">


                <div class="row" style="margin-top: 2em">
                    <div class="col col-6">

                        {% for message in app.session.flashbag.get('exercice_add') %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>{{ message }}!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}

                        {{ form_start(exerciceForm) }}

                        {{ form_errors(exerciceForm) }}

                        <div class="mb-3">
                            {{ form_label(exerciceForm.intitule, "Nom  de l'exercice : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(exerciceForm.intitule, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(exerciceForm.intitule) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(exerciceForm.lieu, "Lieu de l'exercice : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(exerciceForm.lieu, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(exerciceForm.lieu) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(exerciceForm.commentaire, "Commentaire", {'label_attr': {'class': 'c_image_name_input_label'}}) }}
                            <div class="input-group">
                                {{ form_widget(exerciceForm.commentaire, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-error" style="color: red">
                                {{ form_errors(exerciceForm.commentaire) }}
                            </div>
                        </div>

                        <hr>
                        <div class="d-flex justify-content-center">
                            {{ form_row(exerciceForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                            {{ form_row(exerciceForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                        </div>

                        {{ form_end(exerciceForm) }}
                    </div>

                    <div class="col col-6">

                        <div class="card" >
                            <div class="card-body">
                                <h5 class="card-title">Liste des  exercices</h5>
                                <hr>
                                <table class="table table-responsive table-bordered table-striped table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th{% if exercices.isSorted('Intitule') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(exercices, 'Intitule', 'Intitule') }}
                                        </th>
                                        <th{% if exercices.isSorted('Lieu') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(exercices, 'Lieu', 'Lieu') }}
                                        </th>
                                        <th>
                                            Commentaires
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if exercices | length == 0 %}
                                        <p class="text-center">Aucun exercice n'a été ajoutée pour l'instant</p>
                                    {% else %}
                                        {% for exercice in exercices %}
                                            <tr>
                                                <td>{{ exercice.intitule }}</td>
                                                <td>{{ exercice.lieu }}</td>
                                                <td>{{ exercice.commentaire }}</td>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    {{ knp_pagination_render(exercices,'/paginator/paginator.html.twig') }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
