{% extends 'nav.html.twig' %}

{% block title %}Unite et corps{% endblock %}


{% block content %}

    <div style="margin-top: 1em;">

        <ul class="nav nav-tabs md-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#unites" type="button" role="tab" aria-controls="unites" aria-selected="true">Unites</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#corps" type="button" role="tab" aria-controls="corps" aria-selected="false">Corps</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#specialites" type="button" role="tab" aria-controls="specialites" aria-selected="false">Specialites</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="origin-tab" data-toggle="tab" href="#origin" type="button" role="tab" aria-controls="origin" aria-selected="false">Origine de recrutement</a>
            </li>
        </ul>
        <div class="tab-content card pt-5" id="myTabContent">
            <div class="tab-pane fade show active" id="unites" role="tabpanel" aria-labelledby="unites-tab">
                <div class="row" style="margin-top: 2em">
                    <div class="col col-6">

                        {% for message in app.session.flashbag.get('unite_add') %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>{{ message }}!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}

                        {{ form_start(uniteForm) }}

                        <div class="text-danger">
                            {{ form_errors(uniteForm) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(uniteForm.intitule, "Nom  de l'unite : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(uniteForm.intitule, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(uniteForm.intitule) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(uniteForm.description, "Description de l'unite : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(uniteForm.description, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(uniteForm.description) }}
                            </div>
                        </div>

                        <div class="mb-3">

                            {{ form_widget(uniteForm.corps, {'attr': {'class': 'mdb-select  md-form colorful-select dropdown-ins','searchable': 'Rechercher un corps'}}) }}
                            {{ form_label(uniteForm.corps, "Corps : ", {'label_attr': {'class': ''}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(uniteForm.corps) }}
                            </div>
                        </div>

                        <hr>
                        <div class="d-flex justify-content-center">
                            {{ form_row(uniteForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                            {{ form_row(uniteForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}

                        </div>

                        {{ form_end(uniteForm) }}
                    </div>

                    <div class="col col-6">
                        <div class="card" >
                            <div class="card-body">
                                <h5 class="card-title">Liste des  unites</h5>
                                <hr>
                                <table class="table table-responsive table-bordered table-striped table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th{% if db_unites.isSorted('Intitule') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(db_corps, 'Intitule', 'Intitule') }}
                                        </th>
                                        <th{% if db_unites.isSorted('Description') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(db_unites, 'Description', 'Description') }}
                                        </th>
                                        <th{% if db_unites.isSorted('Corps.Intitule') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(db_corps, 'Corps', 'Corps.Intitule') }}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if db_unites | length == 0 %}
                                        <p class="text-center">Aucune unite n'a été ajoutée pour l'instant</p>
                                    {% else %}
                                        {% for unite in db_unites %}
                                            <tr>
                                                <td>{{ unite.intitule }}</td>
                                                <td>{{ unite.description }}</td>
                                                <td>{{ unite.corps.intitule }}</td>
                                            </tr>
                                        {% endfor %}

                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    {{ knp_pagination_render(db_unites,'/paginator/paginator.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="corps" role="tabpanel" aria-labelledby="corps-tab">


                <div class="row" style="margin-top: 2em">
                    <div class="col col-6">

                        {% for message in app.session.flashbag.get('corps_add') %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>{{ message }}!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}

                        {{ form_start(corpsForm) }}

                        {{ form_errors(corpsForm) }}

                        <div class="mb-3">
                            {{ form_label(corpsForm.intitule, "Nom  du corps : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(corpsForm.intitule, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(corpsForm.intitule) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(corpsForm.description, "Description du corps : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(corpsForm.description, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(corpsForm.description) }}
                            </div>
                        </div>

                        <div class="md-form">
                            <div class="file-field">
                                <div class="btn blue-gradient btn-sm float-left">
                                    <span><i class="fas fa-cloud-upload-alt mr-2" aria-hidden="true"></i>Choisir un fichier</span>
                                    {{ form_widget(corpsForm.fichiers, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" readonly type="text" placeholder="Uploader une image">
                                </div>
                            </div>
                            <div class="form-error" style="color: red">
                                {{ form_errors(corpsForm.fichiers) }}
                            </div>


                        </div>

                        <hr>
                        <div class="col col-12">
                            <div class="row">
                                <div class="col col-2">
                                    {{ form_row(corpsForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                                </div>
                                <div class="col col-2">
                                    {{ form_row(corpsForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                                </div>
                            </div>
                        </div>

                        {{ form_end(corpsForm) }}
                    </div>

                    <div class="col col-6">

                        <div class="card" >
                            <div class="card-body">
                                <h5 class="card-title">Liste des  corps</h5>
                                <hr>
                                <table class="table table-responsive table-bordered table-striped table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th{% if db_corps.isSorted('Intitule') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(db_corps, 'Intitule', 'Intitule') }}
                                        </th>
                                        <th{% if db_corps.isSorted('Description') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(db_corps, 'Description', 'Description') }}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if db_corps | length == 0 %}
                                        <p class="text-center">Aucun corps n'a été ajoutée pour l'instant</p>
                                    {% else %}
                                        {% for corps in db_corps %}
                                            <tr>
                                                <td class="d-flex justify-content-center">
                                                    <img height="50" width="50" src="{{ asset('/logos/') }}{{ corps.fichiers[0].nom }}" class="img-thumbnail" alt="...">
                                                </td>
                                                <td>{{ corps.intitule }}</td>
                                                <td>{{ corps.description }}</td>
                                            </tr>
                                        {% endfor %}

                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    {{ knp_pagination_render(db_corps,'/paginator/paginator.html.twig') }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="specialites" role="tabpanel" aria-labelledby="specialites-tab">
                <div class="row" style="margin-top: 2em">
                    <div class="col col-6">

                        {% for message in app.session.flashbag.get('specialite_add') %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>{{ message }}!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}

                        {{ form_start(specialiteForm) }}

                        {{ form_errors(specialiteForm) }}

                        <div class="mb-3">
                            {{ form_label(specialiteForm.intitule, "Intitule de la specialite : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(specialiteForm.intitule, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(specialiteForm.intitule) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(specialiteForm.description, "Description du la specialite : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(specialiteForm.description, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(specialiteForm.description) }}
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-center">
                            {{ form_row(specialiteForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                            {{ form_row(specialiteForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}

                        </div>

                        {{ form_end(specialiteForm) }}
                    </div>

                    <div class="col col-6">

                        <div class="card" >
                            <div class="card-body">
                                <h5 class="card-title">Liste des specialites</h5>
                                <hr>
                                <table class="table table-responsive table-bordered table-striped table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th{% if db_specialites.isSorted('Intitule') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(db_specialites, 'Intitule', 'Intitule') }}
                                        </th>
                                        <th{% if db_specialites.isSorted('Description') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(db_specialites, 'Description', 'Description') }}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if db_specialites | length == 0 %}
                                        <p class="text-center">Aucune specialite n'a été ajoutée pour l'instant</p>
                                    {% else %}
                                        {% for specialites in db_specialites %}
                                            <tr>

                                                <td>{{ specialites.intitule }}</td>
                                                <td>{{ specialites.description }}</td>
                                            </tr>
                                        {% endfor %}

                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    {{ knp_pagination_render(db_specialites,'/paginator/paginator.html.twig') }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="origin" role="tabpanel" aria-labelledby="origin-tab">

                <div class="row" style="margin-top: 2em">
                    <div class="col col-6">

                        {% for message in app.session.flashbag.get('origin_add') %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>{{ message }}!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}

                        {{ form_start(originForm) }}

                        {{ form_errors(originForm) }}

                        <div class="mb-3">
                            {{ form_label(originForm.intitule, "Intitule : ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(originForm.intitule, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(originForm.intitule) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(originForm.description, "Description: ", {'label_attr': {'class': 'intitule_label'}}) }}
                            {{ form_widget(originForm.description, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error" style="color: red">
                                {{ form_errors(originForm.description) }}
                            </div>
                        </div>

                        <hr>
                        <div class="d-flex justify-content-center">
                            {{ form_row(originForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                            {{ form_row(originForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                        </div>

                        {{ form_end(originForm) }}
                    </div>

                    <div class="col col-6">

                        <div class="card" >
                            <div class="card-body">
                                <h5 class="card-title">Liste des origines de recrutement</h5>
                                <hr>
                                <table class="table table-responsive table-bordered table-striped table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th{% if db_origins.isSorted('Intitule') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(db_origins, 'Intitule', 'Intitule') }}
                                        </th>
                                        <th{% if db_origins.isSorted('Description') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(db_origins, 'Description', 'Description') }}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if db_corps | length == 0 %}
                                        <p class="text-center">Aucune origine n'a été ajoutée pour l'instant</p>
                                    {% else %}
                                        {% for origin in db_origins %}
                                            <tr>
                                                <td>{{ origin.intitule }}</td>
                                                <td>{{ origin.description }}</td>
                                            </tr>
                                        {% endfor %}

                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    {{ knp_pagination_render(db_origins,'/paginator/paginator.html.twig') }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>






{% endblock %}
