
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}



{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
{% endblock %}

{% block body %}



    <header>

        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav fixed">
            <ul class="custom-scrollbar">

                <li>
                    <div class="logo-wrapper waves-light">
                        <a href="{{ path('dashboard') }}">
                            <img style="margin-left: 1em" src="{{ asset('/assets/img/and_bg_1.png') }}"
                                         class="flex-center">
                        </a>
                    </div>
                </li>

                <!--/.Search Form-->
                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">


                        {% if active == "dashboard" %}
                            <li>
                                <a href="{{ path('dashboard') }}"  class="waves-effect active">
                                    <i class="fas fa-home"></i>
                                    Tableau de bord</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('dashboard') }}" class="waves-effect">
                                    <i class="fas fa-home"></i>
                                    Tableau de bord</a>
                            </li>
                        {% endif %}


                        <li><a class="collapsible-header waves-effect
                         {% if active == 'militaire' or  active == 'create_militaire' or  active == 'search_militaire' %}
                         active
                         {% endif %} arrow-r">
                                <i class="fas fa fa-user"></i>
                                Elements
                                <i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    {% if active == 'militaire'%}
                                        <li><a href="{{ path('all_militaires') }}" class="waves-effect active">Toutes les donnees</a></li>
                                    {% else %}
                                        <li><a href="{{ path('all_militaires') }}" class="waves-effect">Toutes les donnees</a></li>
                                    {% endif %}

                                    {% if active == 'create_militaire'%}
                                        <li><a href="{{ path('create_militaire') }}" class="waves-effect active">Creer</a></li>
                                    {% else %}
                                        <li><a href="{{ path('create_militaire') }}" class="waves-effect">Creer</a></li>
                                    {% endif %}

                                    {% if active == 'search_militaire'%}
                                        <li><a href="{{ path('search_militaire') }}" class="waves-effect active">Recherche avancee</a></li>
                                    {% else %}
                                        <li><a href="{{ path('search_militaire') }}" class="waves-effect">Recherche avancee</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>





                        <!--<li>
                            <a class="waves-effect">
                                <i class="fas fa-chart-line"></i>
                                Statistiques et statuts</a>
                        </li> -->

                        {% if active == "unite" %}
                            <li>
                                <a  href="{{ path('unite_index') }}"  class="waves-effect active">
                                    <i class="fa fa-user-edit mr-2"></i>
                                    Unites</a>
                            </li>
                        {% else %}
                            <li>
                                <a  href="{{ path('unite_index') }}"  class="waves-effect">
                                    <i class="fa fa-user-edit mr-2"></i>
                                    Unites</a>
                            </li>
                        {% endif %}


                        {% if active == "corps" %}
                            <li>
                                <a  href="{{ path('corps_crud_index') }}"  class="waves-effect active">
                                    <i class="fa fa-users mr-2"></i>
                                    Corps</a>
                            </li>
                        {% else %}
                            <li>
                                <a  href="{{ path('corps_crud_index') }}"  class="waves-effect">
                                    <i class="fa fa-users mr-2"></i>
                                    Corps</a>
                            </li>
                        {% endif %}


                        {% if active == "indices" %}
                            <li>
                                <a  href="{{ path('indices') }}"  class="waves-effect active">
                                    <i class="fas fa-arrow-up mr-2"></i>
                                    Indices</a>
                            </li>
                        {% else %}
                            <li>
                                <a  href="{{ path('indices') }}"  class="waves-effect">
                                    <i class="fas fa-arrow-up mr-2"></i>
                                    Indices</a>
                            </li>
                        {% endif %}


                        {% if active == "spe_origine" %}
                            <li>
                                <a  href="{{ path('spe_ori') }}"  class="waves-effect active">
                                    <i class="fas fa-toolbox mr-2"></i>
                                    Specialites et Origines </a>
                            </li>
                        {% else %}
                            <li>
                                <a  href="{{ path('spe_ori') }}"  class="waves-effect">
                                    <i class="fas fa-toolbox mr-2"></i>
                                    Specialites et Origines </a>
                            </li>
                        {% endif %}


                        {% if active == "mission" %}
                            <li>
                                <a  href="{{ path('mission') }}"  class="waves-effect active">
                                    <i class="fas fa-plane-departure mr-2"></i>
                                    Missions et exercices</a>
                            </li>
                        {% else %}
                            <li>
                                <a  href="{{ path('mission') }}"  class="waves-effect">
                                    <i class="fas fa-plane-departure mr-2"></i>
                                    Missions et exercices</a>
                            </li>
                        {% endif %}


                        {% if active == "formation" %}
                            <li>
                                <a  href="{{ path('formation') }}"  class="waves-effect active">
                                    <i class="fas fa-school mr-2"></i>
                                    Formations</a>
                            </li>
                        {% else %}
                            <li>
                                <a  href="{{ path('formation') }}"  class="waves-effect">
                                    <i class="fas fa-school mr-2"></i>
                                    Formations</a>
                            </li>
                        {% endif %}


                        {% if active == "medaille" %}
                            <li>
                                <a  href="{{ path('medaille') }}"  class="waves-effect active">
                                    <i class="fas fa-medal mr-2"></i>
                                    Medailles</a>
                            </li>
                        {% else %}
                            <li>
                                <a  href="{{ path('medaille') }}"  class="waves-effect">
                                    <i class="fas fa-medal mr-2"></i>
                                    Medailles</a>
                            </li>
                        {% endif %}


                        {% if active == "grade_categorie" %}
                            <li>
                                <a  href="{{ path('grade_categorie') }}"  class="waves-effect active">
                                    <i class="fas fa-level-up-alt mr-2"></i>
                                    Grades et categories</a>
                            </li>
                        {% else %}
                            <li>
                                <a  href="{{ path('grade_categorie') }}"  class="waves-effect">
                                    <i class="fas fa-level-up-alt mr-2"></i>
                                    Grades et categories</a>
                            </li>
                        {% endif %}




                    </ul>
                </li>
                <!--/. Side navigation links -->
            </ul>
            <div class="sidenav-bg"></div>
        </div>
        <!-- Sidebar navigation -->

        <!-- Navbar -->
        <nav style="color: #212529 !important;" class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">

            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" style="color: #212529" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
            </div>

            <!-- Breadcrumb -->
            <div class="breadcrumb-dn mr-auto">
                <p class="fw-bold text-uppercase">chancellerie</p>
            </div>

            <!-- Navbar links -->
            <ul class="nav navbar-nav nav-flex-icons ml-auto">

                <!-- Dropdown
                <li class="nav-item dropdown notifications-nav">
                    <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="badge red">3</span> <i class="fas fa-bell"></i>
                        <span class="d-none d-md-inline-block">Notifications</span>
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">
                            <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
                            <span>New order received</span>
                            <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 13 min</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
                            <span>New order received</span>
                            <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 33 min</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-chart-line mr-2" aria-hidden="true"></i>
                            <span>Your campaign is about to end</span>
                            <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 53 min</span>
                        </a>
                    </div>
                </li>-->
                <li  class="nav-item dropdown">
                    <a  style="color: #212529"class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">{{ app.user.name }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a>
                        <a class="dropdown-item" href="#">Parametres</a>
                    </div>
                </li>

            </ul>
            <!-- Navbar links -->

        </nav>
        <!-- Navbar -->

    </header>

    <main>
        <div style="width: 100%!important;">
            {% block content %}

            {% endblock %}
        </div>

    </main>

    <!--/Main layout-->





{% endblock %}
