{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/css/custom/sidebar.css') }}" />
{% endblock %}

{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
{% endblock %}

{% block body %}

    <div class="d-flex flex-xxl-row">
        <div class="bd-highlight">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;height: 100vh;overflow-y: hidden">
                <div class="d-flex justify-content-center">
                    <a href="{{ path('dashboard') }}" class="link-dark text-decoration-none">
                        <img height="80" width="80" src="{{ asset('/assets/img/and_bg.png') }}">
                        <br>
                        <span style="font-weight: bold">Chancellerie</span>
                    </a>
                </div>

                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        {% if active == "dashboard" %}
                            <a href="{{ path('dashboard') }}" class="nav-link active" aria-current="page">
                                <i style="margin-right: 0.3rem" class="fa fa-home"></i>
                                Tableau de bord
                            </a>
                        {% else %}
                            <a href="{{ path('dashboard') }}" class="nav-link link-dark" aria-current="page">
                                <i style="margin-right: 0.3rem" class="fa fa-home"></i>
                                Tableau de bord
                            </a>
                        {% endif %}

                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#elements-collapse" aria-expanded="false">
                            <span style="margin-left: 0.9rem">Elements</span>
                        </button>
                        {% if active == 'militaire' or  active == 'create_militaire' or  active == 'search_militaire' %}
                        <div class="collapse show" id="elements-collapse">
                            {% else %}
                            <div class="collapse" id="elements-collapse">
                                {% endif %}
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    {% if active == 'militaire'%}
                                        <li><a href="{{ path('all_militaires') }}" class="nav-link link-dark active rounded">Toutes les donnees</a></li>
                                    {% else %}
                                        <li><a href="{{ path('all_militaires') }}" class="nav-link link-dark rounded">Toutes les donnees</a></li>
                                    {% endif %}

                                    {% if active == 'create_militaire'%}
                                        <li><a href="{{ path('create_militaire') }}" class="nav-link link-dark active rounded">Creer</a></li>
                                    {% else %}
                                        <li><a href="{{ path('create_militaire') }}" class="nav-link link-dark rounded">Creer</a></li>
                                    {% endif %}

                                    {% if active == 'search_militaire'%}
                                        <li><a href="{{ path('search_militaire') }}" class="nav-link link-dark active rounded">Rechercher</a></li>
                                    {% else %}
                                        <li><a href="{{ path('search_militaire') }}" class="nav-link link-dark rounded">Rechercher</a></li>
                                    {% endif %}

                                </ul>
                            </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="nav-item">
                        <a href="#" class="nav-link link-dark">
                            <i style="margin-right: 0.3rem" class="fa fa-chart-line"></i>
                            Statistiques et statuts
                        </a>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="nav-item">
                        {% if active == "corps" %}
                            <a href="{{ path('corps') }}" class="nav-link link-dark active">
                                <i style="margin-right: 0.3rem" class="fa fa-users"></i>
                                Unites et corps
                            </a>
                        {% else %}
                            <a href="{{ path('corps') }}" class="nav-link link-dark">
                                <i style="margin-right: 0.3rem" class="fa fa-users"></i>
                                Unites et corps
                            </a>
                        {% endif %}

                    </li>
                    <li class="border-top my-3"></li>
                    <li class="nav-item">

                        {% if active == "mission" %}
                            <a href="{{ path('mission') }}" class="nav-link link-dark active">
                                <i style="margin-right: 0.3rem" class="fa fa-plane-departure"></i>
                                Missions et exercices
                            </a>
                        {% else %}
                            <a href="{{ path('mission') }}" class="nav-link link-dark">
                                <i style="margin-right: 0.3rem" class="fa fa-plane-departure"></i>
                                Missions et exercices
                            </a>
                        {% endif %}

                    </li>
                    <li class="border-top my-3"></li>
                    <li class="nav-item">
                        {% if active == "formation" %}
                            <a href="{{ path('formation') }}" class="nav-link link-dark active">
                                <i style="margin-right: 0.3rem" class="fa fa-school"></i>
                                Formations
                            </a>
                        {% else %}
                            <a href="{{ path('formation') }}" class="nav-link link-dark">
                                <i style="margin-right: 0.3rem" class="fa fa-school"></i>
                                Formations
                            </a>
                        {% endif %}
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="nav-item">
                        {% if active == "medaille" %}
                            <a href="{{ path('medaille') }}" class="nav-link link-dark active">ยง
                                <i style="margin-right: 0.3rem" class="fa fa-medal"></i>
                                Medailles
                            </a>
                        {% else %}
                            <a href="{{ path('medaille') }}" class="nav-link link-dark">
                                <i style="margin-right: 0.3rem" class="fa fa-medal"></i>
                                Medailles
                            </a>
                        {% endif %}
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="nav-item">
                        {% if active == "grade_categorie" %}
                            <a href="{{ path('grade_categorie') }}" class="nav-link link-dark active">
                                <i style="margin-right: 0.3rem" class="fa fa-level-up-alt"></i>
                                Grades et categories
                            </a>
                        {% else %}
                            <a href="{{ path('grade_categorie') }}" class="nav-link link-dark">
                                <i style="margin-right: 0.3rem" class="fa fa-level-up-alt"></i>
                                Grades et categories
                            </a>
                        {% endif %}

                    </li>
                </ul>

                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('/assets/img/user.png') }}" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>{{ user.name }}</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#">Parametres</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex-grow-1  bd-highlight">
            <div class="container-fluid" style="overflow-y: scroll; height: 100vh; width: 100%">


                {% block content %}

                {% endblock %}


            </div>
        </div>
    </div>






    {% block botton_javascripts %}
        <script  src="{{ asset('/assets/js/custom/sidebars.js') }}"></script>
    {% endblock %}

{% endblock %}
