{% extends 'nav.html.twig' %}

{% block title %}Tableau de bord{% endblock %}


   {% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('/assets/css/pro/mdb.min.css') }}" />
   {% endblock %}


{% block content %}


    <section class="mt-md-4 pt-md-2 mb-5 pb-4">

        <!-- Grid row -->
        <div class="row">


            <!-- Grid column -->
            <div class="col-xl-12 col-md-12 mb-xl-0 mb-5">

                <!-- Card -->
                <div class="card card-cascade cascading-admin-card">

                    <!-- Card Data -->
                    <div class="admin-up">
                        <i class="fas fa-users primary-color mr-3 z-depth-2"></i>
                        <div class="data">
                            <p class="text-uppercase">effectif total</p>
                            <h4 class="font-weight-bold dark-grey-text">{{ militaires | length }}</h4>
                        </div>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade">
                        <div class="progress mb-3">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="card-text">Effectif des elements a ce jour</p>
                    </div>

                </div>
                <!-- Card -->

            </div>


            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-3 col-md-6 mb-xl-0 mb-4 mt-4">

                <!-- Card -->
                <div class="card card-cascade cascading-admin-card">

                    <!-- Card Data -->
                    <div class="admin-up">
                        <i class="fas fa-chart-line success-color mr-3 z-depth-2"></i>
                        <div class="data">
                            <p class="text-uppercase">En service</p>
                            <h4 class="font-weight-bold dark-grey-text">{{ militaire_service | length }}</h4>
                        </div>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade">
                        <div class="progress mb-3">
                            {% if militaires|length == 0 %}
                            {% else %}
                                {% set en_servie  = 0 %}
                            {% endif %}
                            <div class="progress-bar green accent-2" role="progressbar" style="width: {{ en_servie|round(1, 'ceil') }}%" aria-valuenow="25"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="card-text">{{ en_servie|round(1, 'ceil') }}% de l'effectif total</p>
                    </div>

                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-3 col-md-6 mb-md-0 mb-4  mt-4">

                <!-- Card -->
                <div class="card card-cascade cascading-admin-card">

                    <!-- Card Data -->
                    <div class="admin-up">
                        <i class="fas fa-chart-pie light-blue lighten-1 mr-3 z-depth-2"></i>
                        <div class="data">
                            <p class="text-uppercase">Retraités </p>
                            <h4 class="font-weight-bold dark-grey-text">{{ militaire_retraite | length }}</h4>
                        </div>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade">
                        <div class="progress mb-3">
                            {% if militaires|length == 0 %}
                            {% else %}
                                {% set retraite  = 0 %}
                            {% endif %}
                            <div class="progress-bar blue lighten-2" role="progressbar" style="width: {{ en_servie|round(1, 'ceil') }}%" aria-valuenow="75"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="card-text">{{ en_servie|round(1, 'ceil') }}% de l'effectif total</p>
                    </div>

                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-3 col-md-6 mb-0  mt-4">

                <!-- Card -->
                <div class="card card-cascade cascading-admin-card">

                    <!-- Card Data -->
                    <div class="admin-up">
                        <i class="fas fa-chart-bar red accent-2 mr-3 z-depth-2"></i>
                        <div class="data">
                            <p class="text-uppercase">Radiés</p>
                            <h4 class="font-weight-bold dark-grey-text">{{ militaire_radie | length }}</h4>
                        </div>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade">

                        <div class="progress mb-3">
                            {% if militaires|length == 0 %}
                            {% else %}
                                {% set radie  = 0 %}
                            {% endif %}
                            <div class="progress-bar red" role="progressbar" style="width: {{ radie|round(1, 'ceil') }}%" aria-valuenow="25"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="card-text">{{ radie|round(1, 'ceil') }}% de l'effectif total</p>
                    </div>

                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-xl-3 col-md-6 mb-xl-0 mb-4  mt-4">

                <!-- Card -->
                <div class="card card-cascade cascading-admin-card">

                    <!-- Card Data -->
                    <div class="admin-up">
                        <i class="fas fa-users primary-color mr-3 z-depth-2"></i>
                        <div class="data">
                            <p class="text-uppercase">Autres statuts</p>
                            <h4 class="font-weight-bold dark-grey-text">{{ militaire_disponibilite | length }}</h4>
                        </div>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade">
                        <div class="progress mb-3">
                            {% if militaires|length == 0 %}
                            {% else %}
                                {% set dispo  = 0 %}
                            {% endif %}
                            <div class="progress-bar blue  accent-2" role="progressbar"style="width: {{ dispo|round(1, 'ceil') }}%" aria-valuenow="75"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="card-text">{{ dispo|round(1, 'ceil') }}% de l'effectif total</p>
                    </div>

                </div>
                <!-- Card -->

            </div>

        </div>
        <!-- Grid row -->

    </section>


    <!-- Section: Main panel -->
    <section class="mb-5">

        <!-- Card -->
        <div class="card card-cascade narrower">

            <!-- Section: Chart -->
            <section>

                <canvas id="barChart" height="175"></canvas>

                <!-- Grid row -->

            </section>

        </div>

    </section>

    <div class="row">
        <div class="col col-6">
            <section>
                <!-- Panel -->
                <div class="card mb-lg-0 mb-4">

                    <div class="card-header white-text primary-color">
                        <h5 class="font-weight-500 my-1">Elements ayant atteints la limite d'age</h5>
                    </div>

                    <div class="card-body">

                        <div class="table-responsive">
                            <table id="limit_data" class="table table-responsive table-bordered table-striped text-center">
                                <thead>
                                <tr>
                                    <th class="font-weight-bold ">Photo</th>
                                    <th class="font-weight-bold ">Matricule</th>
                                    <th class="font-weight-bold ">Nom et Prenoms</th>
                                    <th class="font-weight-bold ">Age</th>
                                    <th class="font-weight-bold ">Grade</th>
                                    <th class="font-weight-bold ">Date theorique de depart en retraite</th>
                                    <th class="font-weight-bold "></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for limited in militaires_limit %}
                                    <tr>
                                        <td>
                                            <img height="50" width="50" src="{{ asset('/elements/') }}{{ limited.militaire.fichiers[0].nom }}" class="img-thumbnail" alt="...">
                                        </td>
                                        <td>
                                            {{ limited.militaire.matricule }}
                                        </td>
                                        <td class="text-uppercase">
                                            {{ limited.militaire.nom }} &nbsp; {{ limited.militaire.prenoms }}
                                        </td>
                                        <td>
                                            {% set age = date().diff(date(limited.militaire.dateNaissance)).y %}
                                            {{ age }} ans
                                        </td>
                                        <td>
                                            {{ limited.militaire.grade.description }} ({{ limited.militaire.grade.intitule }})
                                        </td>
                                        <td>
                                            {{ limited.limit_date|date('d-m-Y') }}
                                        </td>
                                        <td>
                                            <a target="_blank" rel="noopener noreferrer" href="{{ path('militaire_details', { 'id': limited.militaire.id }) }}" type="button" class="btn btn-rounded btn-primary btn-sm">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <!-- Panel -->
            </section>
        </div>
    </div>





        {% endblock %}

{% block botton_javascripts %}
    <script>

        $(document).ready(function () {


            $('#limit_data').DataTable( {

                dom: 'Bfrtip',
                "language": {
                    "sProcessing":     "Traitement en cours...",
                    "sSearch":         "Rechercher&nbsp;:",
                    "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix":    "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst":      "Premier",
                        "sPrevious":   "Pr&eacute;c&eacute;dent",
                        "sNext":       "Suivant",
                        "sLast":       "Dernier"
                    },
                    "oAria": {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }
            } );

            //bar
            var ctxB = document.getElementById("barChart").getContext('2d');
            var myBarChart = new Chart(ctxB, {
                type: 'horizontalBar',
                data: {
                    labels: [
                        {% for corp in corp_array %}
                            "{{ corp.corps.intitule }}",
                        {% endfor %}
                    ],
                    datasets: [{
                        label: 'Effectif therorique par corps',
                        data: [
                            {% for corp in corp_array %}
                                "{{ corp.effectif }}",
                            {% endfor %}
                        ],
                        backgroundColor: [
                            {% for corp in corp_array %}
                            "#{{ corp.corps.stringToColorCode() }}",
                            {% endfor %}
                        ],
                        borderColor: [
                            {% for corp in corp_array %}
                                "#{{ corp.corps.stringToColorCode() }}",
                            {% endfor %}
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                min: 0 // Edit the value according to what you need
                            }
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });

        })

    </script>
{% endblock %}
